<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/1.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/2.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Kingdom_Era"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/3.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Zombie_Fight"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/4.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Harry_Potter"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/5.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Classic_LaBa"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
</div>

<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/6.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Relic_Adventure"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/7.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Plant_VS_Zombie"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/8.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Golden_Miner"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/9.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Candy_War"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/10.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Monster_Quest"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
</div>

<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/11.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Magic_Girls"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/12.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Alladdin"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/13.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Pirates_of_The_Sea"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/14.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Dragon_Phoenix_Fortune"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/15.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Hunting_Diary"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
</div>

<div class="row slots-items">
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/16.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Street_Fighter"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/17.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Changban_Bo_Heroes"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/18.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Tales_of_the_West"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/19.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Ice_Age"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
  <div class="col slots-items__container">
    <div class="slots-items__container__content">
      <img class="slots-items__container__content__img" src="assets/images/slots/20.png" />
      <div class="slots-items__container__content__text">
        <span data-i18n="slots_page.Super_Mario"></span>
        <img src="assets/icons/head.png" />
      </div>
    </div>
  </div>
</div>


<div class="slots-paginations">
  <button class="slots-paginations__item btn">
    <img src="assets/images/slots/pre.png" />
  </button>
  <button class="slots-paginations__item btn">1</button>
  <button class="slots-paginations__item btn">2</button>
  <button class="slots-paginations__item btn">3</button>
  <button class="slots-paginations__item btn">
    <img src="assets/images/slots/next.png" />
  </button>
</div>