.e-sports-page {
  padding-bottom: 0;
  padding-top: 0;
  min-height: auto;
  background-color: #f0f6ff;
  margin-top: 35px;
  min-height: 800px;


  &__container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #carouselESports {
      .carousel-indicators-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        place-items: center;
        place-content: flex-end;

        .playnow {
          margin-top: 50px;
          background-image: url(../images/HOMEPAGE/exciting-game-bg-active.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 210px;
          height: 70px;
          display: flex;
          place-content: center;
          place-items: center;

          font-weight: 600;
          font-size: 24px;
          line-height: 20px;
          text-align: center;
          color: #FFFFFF;

          &:hover {
            opacity: 0.8;
          }
        }

        .carousel-indicators {
          margin: 0;
          flex-direction: column;
          right: 0;
          left: 0;
          top: auto;
          bottom: 0;

          .action {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
  
            button {
              width: auto;
              height: auto;
              text-indent: initial;
              margin: 0;
              position: relative;
              display: flex;
              place-content: center;
              place-items: center;
              min-width: 95px;
              min-height: 95px;
              background-image: url(../images/PAGE/SPORTS/action.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-color: transparent;
              border: none;
              opacity: 1;
  
              font-family: 'Aldo the Apache';
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 26px;
              text-align: center;
              color: #597EF7;
              transition: all 0.2s;
  
              img {
                max-width: 80px;
              }
  
              .img-active {
                display: none;
              }
  
              span {
                transform: matrix(1, -0.08, 0.02, 1, 0, 0);
              }
  
              &:hover {
                opacity: 0.8;
              }
  
              &:hover {
                -webkit-animation: categoryBtn 0.3s;
                animation: categoryBtn 0.3s;
              }
  
              &:hover,
              &.active {
                background-image: url(../images/PAGE/SPORTS/action-active.png);
                color: #FFFFFF;
  
                .img-active {
                  display: initial;
                }
  
                .img-default {
                  display: none;
                }
              }
            }
          }
        }
      }

      .carousel-inner {
        .left-img {
          background-color: #f0f6ff;
          padding-top: 50px;
          padding-bottom: 50px;
          .team {
            -webkit-animation: esportLeftImgTeam 0.5s;
            animation: esportLeftImgTeam 0.5s;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 30px;
          margin-bottom: 200px;
          -webkit-animation: esportContent 1s;
          animation: esportContent 1s;
          background-color: #f0f6ff;
          padding-top: 50px;
          padding-bottom: 50px;

          .logo {
            max-width: 400px;
          }

          .official {
            max-width: 200px;
          }

          .icon {
            max-width: 400px;
          }

          .text {
            line-height: 24px;
            font-size: 16px;
            color: #7981a4;
            font-weight: 400;
          }
        }

        .e-sports-item {
          position: relative;

          &__bg {
            width: 100%;
            height: 800px;
            object-fit: cover;
          }

          &__container {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            display: flex;
            // place-items: center;
            place-content: flex-end;
            flex-direction: column;
            padding: 30px 0;

            &__logo {
              margin-bottom: 30px;

              img {
                max-width: 500px;
              }
            }

            &__description {
              font-weight: 600;
              font-size: 18px;
              line-height: 21px;
              text-align: center;
              color: #FFFFFF;
              text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
              max-width: 800px;
              margin: 0 auto;
            }

            &__play-now {
              margin-top: -20px;
              margin-bottom: -40px;

              .btn {
                width: 515px;
                height: 215px;
                background-image: url(../images/e-sports/play-now-bg.png);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;

                font-family: 'Aldo the Apache';
                font-style: normal;
                font-weight: 400;
                font-size: 48px;
                line-height: 42px;
                text-align: center;
                color: #FFFFFF;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

                &:hover {
                  opacity: 0.8;
                }
              }
            }

            &__bottom-logo {
              img {
                max-width: 730px;
              }
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes esportContent {
  from {
    -webkit-transform: translate(50%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes esportContent {
  from {
    transform: translate(50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes esportLeftImgTeam {
  from {
    -webkit-transform: scale(0.7);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes esportLeftImgTeam {
  from {
    transform: scale(0.7);
  }
  to {
    transform: scale(1);
  }
}