.live-casino-page {
  // background-image: url(../images/live-casino/bg.png);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  padding-bottom: 0;
  padding-top: 0;
  background-color: #f0f6ff;
  margin-top: 35px;
  min-height: 800px;


  &__container {
    // background-image: url(../images/sports/bg-center.png);
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
    // min-height: 100vh;
    // min-height: 800px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    #carouselLiveCasino {
      min-height: 800px;

      .carousel-indicators-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        place-items: center;
        place-content: flex-end;

        .playnow {
          margin-top: 50px;
          background-image: url(../images/HOMEPAGE/exciting-game-bg-active.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
          width: 210px;
          height: 70px;
          display: flex;
          place-content: center;
          place-items: center;

          font-weight: 600;
          font-size: 24px;
          line-height: 20px;
          text-align: center;
          color: #FFFFFF;

          &:hover {
            opacity: 0.8;
          }
        }

        .carousel-indicators {
          margin: 0;
          flex-direction: column;
          right: 0;
          left: 0;
          top: auto;
          bottom: 0;
  
          .action {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
  
            button {
              width: auto;
              height: auto;
              text-indent: initial;
              margin: 0;
              position: relative;
              display: flex;
              place-content: center;
              place-items: center;
              min-width: 95px;
              min-height: 95px;
              background-image: url(../images/PAGE/SPORTS/action.png);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              background-color: transparent;
              border: none;
              opacity: 1;
  
              font-family: 'Aldo the Apache';
              font-style: normal;
              font-weight: 400;
              font-size: 30px;
              line-height: 26px;
              text-align: center;
              color: #597EF7;
              transition: all 0.2s;
  
              img {
                max-width: 80px;
              }
  
              .img-active {
                display: none;
              }
  
              span {
                transform: matrix(1, -0.08, 0.02, 1, 0, 0);
              }
  
              &:hover {
                opacity: 0.8;
              }
  
              &:hover {
                -webkit-animation: categoryBtn 0.3s;
                animation: categoryBtn 0.3s;
              }
  
              &:hover,
              &.active {
                background-image: url(../images/PAGE/SPORTS/action-active.png);
                color: #FFFFFF;
  
                .img-active {
                  display: initial;
                }
  
                .img-default {
                  display: none;
                }
              }
            }
          }
  
        }
      }

      .carousel-inner {
        .carousel-item {
          .left-img {
            background-color: #f0f6ff;
            padding-top: 50px;
            padding-bottom: 50px;
            .team {
              -webkit-animation: casinoLeftImgTeam 0.5s;
              animation: casinoLeftImgTeam 0.5s;
            }
          }
          .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 30px;
            margin-bottom: 300px;
            -webkit-animation: casinoContent 1s;
            animation: casinoContent 1s;
            background-color: #f0f6ff;
            padding-top: 50px;
            padding-bottom: 50px;

            .logo {
              max-width: 400px;
            }

            .official {
              max-width: 200px;
            }

            .icon {
              max-width: 400px;
            }

            .text {
              line-height: 24px;
              font-size: 16px;
              color: #7981a4;
              font-weight: 400;
            }
          }

          .sports-item-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            display: flex;
            place-items: center;

            .sports-item {
              place-items: center;
              padding: 0;
              position: relative;
              margin: 0 auto;
              place-content: flex-start;
              width: 100%;

              &__content {
                &__title {
                  font-family: 'Aldo the Apache';
                  font-style: normal;
                  font-weight: 400;
                  font-size: 110px;
                  line-height: 125px;
                  color: #597EF7;
                  word-break: keep-all;
                  margin-top: 30px;
                  margin-bottom: 10px;

                  @media only screen and (max-width: 1300px) {
                    font-size: 80px;
                    line-height: 90px;
                  }
                }

                &__description {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 30px;
                  color: #3651A8;

                  @media only screen and (max-width: 1300px) {
                    font-size: 16px;
                    line-height: 25px;
                  }
                }

                &__action {
                  margin-top: 70px;

                  a {
                    background-image: url(../images/sports/play-now-btn.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    width: 210px;
                    height: 70px;
                    display: flex;
                    place-content: center;
                    place-items: center;

                    font-weight: 600;
                    font-size: 24px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;

                    &:hover {
                      opacity: 0.8;
                    }

                    @media only screen and (max-width: 1300px) {
                      width: 170px;
                      height: 60px;
                    }
                  }
                }
              }
            }
          }

          .sports-img {
            text-align: center;

            img {
              max-width: 750px;
              margin-left: 10%;

              &.PRAGMATIC_PLAY {
                margin-left: 20%;
              }

              @media only screen and (max-width: 1500px) {
                margin-left: 0;
                max-width: 650px;
              }

              @media only screen and (max-width: 1250px) {
                max-width: 550px;
                margin-left: -5%;
              }

              @media only screen and (max-width: 1100px) {
                max-width: 450px;
                margin-left: -5%;
              }
            }
          }
        }
      }
    }
  }
}

html[lang="zh"] {
  .live-casino-page {

    .carousel-inner {
      .carousel-item {
        &:nth-child(3) {
          .sports-img {
            img {
              margin-left: 20% !important;
            }
          }
        }
      }
    }

    .sports-item__content__title {
      word-break: keep-all !important;

      &[data-i18n="live_casino_page.title3"] {
        // font-size: 90px !important;
      }
    }
  }
}

@-webkit-keyframes casinoLeftImgTeam {
  from {
    -webkit-transform: translate(-30%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes casinoLeftImgTeam {
  from {
    transform: translate(-30%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes casinoContent {
  from {
    -webkit-transform: translate(50%, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes casinoContent {
  from {
    transform: translate(50%, 0);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}