.nav-live-match {
  width: 105px;
  height: 35px;
  cursor: pointer;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
  }

  &:hover {
    opacity: 0.7;
  }
}

.live-match-block {
  padding: 0;

  &__content {
    padding: 120px 0 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/live-match/bg.png);
    background-attachment: fixed;
  }

  .block-content {
    border-radius: 20px;
    background: #fff;
    border: 1px solid #e0e7fa;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 0 8px 16px 0 rgba(51, 58, 218, 0.09);
    // box-shadow: 0 8px 16px 0 rgba(51, 58, 218, 0.09);
    padding: 30px;
    margin-bottom: 30px;
    height: 100%;

    &.text {

      h3 {
        color: #fcb33c;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .title {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.live-match-page {

  &__ads {
    height: 100px;
    background-color: #f5f5f5;
    margin: 30px auto;
    width: 80%;
    display: flex;
    place-content: center;
    place-items: center;
  }

  &__top {
    width: 80%;
    margin: 30px auto;
    padding: 50px;
    border-radius: 40px;
    background-size: cover;
    background-repeat: repeat-y;
    background-image: url(../images/live-match/top-bg.png);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;

    &__video {
      min-height: 400px;

      iframe {
        width: 100%;
        height: 400px;
        border: 3px solid #5393FB;
      }

      &__vs {
        background-color: #E1E8F5;
        font-size: 60px;
        font-weight: 400;
        display: flex;
        place-content: space-around;
        place-items: center;
        width: fit-content;
        margin: 40px auto 0;
        min-height: 90px;
        border-radius: 50px;
        padding: 0 50px;
        min-width: 700px;

        &__name {
          font-size: 40px;
          font-weight: 300;
        }
      }
    }
  }

  &__content {
    margin: 30px auto 0;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-repeat: repeat-y;
    background-image: url(../images/live-match/content-bg.png);
    background-color: #fff;

    &__title {
      display: flex;
      place-content: center;
      place-items: center;
      margin-bottom: 40px;
      position: relative;
      min-height: 80px;

      span {
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        // line-height: 16px;
        text-align: center;
        color: #5986F2;
        position: relative;
        display: flex;
        place-content: center;
        place-items: center;
        min-width: 185px;

        &::before {
          position: absolute;
          width: 150px;
          height: 40px;
          left: -50%;
          content: "";
          background-image: url(../images/live-match/live-match-left.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }

        &::after {
          position: absolute;
          width: 150px;
          height: 40px;
          right: -50%;
          content: "";
          background-image: url(../images/live-match/live-match-right.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &__tab {
      border-radius: 15px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
      overflow: hidden;

      .nav {
        border-bottom: none;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);

        .nav-item {
          background-color: #fff;
          padding: 10px 0;

          .nav-link {
            text-align: center;
            letter-spacing: 0px;
            color: #5986F2;
            font-size: 20px;
            min-height: 40px;
            border: none;
            border-right: 1px solid #C8CEE3;
            border-radius: 0;
          }

          &:last-child {
            .nav-link {
              border-right: none;
            }
          }
        }
      }

      .tab-content {
        padding: 30px;
        background-size: cover;
        // background-repeat: no-repeat;
        background-image: url(../images/live-match/tab-content-bg.png);

        .match-left-item {
          padding: 15px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border-radius: 29px;
          position: relative;
          -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

          &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            right: 0;
            width: 220px;
            height: 10px;
            background: transparent linear-gradient(90deg, #557ABB 0%, #85A8ED 99%) 0% 0% no-repeat padding-box;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            margin: auto;
          }

          &__title {
            text-align: left;
            letter-spacing: 0px;
            color: #5986F2;
            font-size: 18px;
            padding-bottom: 15px;
          }

          &__match {
            background: transparent linear-gradient(0deg, #FFFFFF 0%, #E1E8F5 98%) 0% 0% no-repeat padding-box;
            border: 1px solid #C8CEE3;
            border-radius: 12px;
            min-height: 150px;
            padding: 15px;
            display: flex;
            place-content: space-between;
            place-items: flex-end;
            font-size: 18px;
          }

          &__time {
            padding: 10px 15px;
            color: #818594;
            font-size: 16px;
            border-bottom: 1px solid #C8CEE3;
          }

          &__action {
            display: flex;
            place-content: space-between;
            place-items: center;
            padding: 10px 0;

            .btn {
              padding: 0;
              min-width: initial;
            }

            .btn-watch {
              display: flex;
              place-content: center;
              place-items: center;

              .icon {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                background: #FFFFFF 0% 0% no-repeat padding-box;
                width: 50px;
                height: 50px;
                display: inline-block;
                border-radius: 50%;
                display: flex;
                place-content: center;
                place-items: center;
                z-index: 2;

                img {
                  width: 25px;
                }
              }

              .text {
                background-color: #5393FB;
                color: #fff;
                min-height: 32px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                display: flex;
                place-content: center;
                place-items: center;
                min-width: 110px;
                margin-left: -20px;
                padding-left: 10px;
                font-weight: 300;
                font-size: 14px;
              }
            }

            .btn-next {
              img {
                width: 30px;
              }
            }
          }
        }

        .match-right-item {
          padding: 15px 50px 15px 30px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          border-radius: 29px;
          position: relative;
          -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
          margin: auto;
          min-height: 250px;
          display: flex;
          place-content: space-between;
          place-items: flex-start;
          flex-direction: column;
          width: 90%;

          &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            right: 0;
            width: 10px;
            height: 180px;
            background: transparent linear-gradient(180deg, #557ABB 0%, #85A8ED 99%) 0% 0% no-repeat padding-box;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            margin: auto;
          }

          &__title {
            display: flex;
            place-content: space-between;
            place-items: center;
            width: 100%;

            &__btn {
              background: transparent linear-gradient(0deg, #C4D1FA 0%, #F9FBFC 99%) 0% 0% no-repeat padding-box;
              border: 2px solid #707070;
              border-radius: 27px;
              color: #5986F2;
              font-size: 18px;
              min-width: 130px;
              min-height: 40px;
              display: flex;
              place-content: center;
              place-items: center;
            }

            &__time {
              color: #818594;
              font-size: 18px;
            }
          }

          &__match {
            background: #E1E8F5;
            border-radius: 40px;
            padding: 10px 30px;
            display: flex;
            place-content: space-between;
            place-items: center;
            font-size: 30px;
            font-weight: 400;
            color: #353F4B;
            margin: 30px 0 20px;
            width: 100%;

            .time {
              font-weight: 700;
            }

            &>div {
              display: flex;
              place-content: center;
              place-items: center;
              gap: 20px;

              img {
                width: 40px;
              }
            }
          }

          &__action {
            display: flex;
            place-content: space-between;
            place-items: center;
            width: 100%;

            .btn {
              padding: 0;
              min-width: initial;

              &:hover {
                opacity: 0.7;
              }
            }

            .btn-watch {
              display: flex;
              place-content: center;
              place-items: center;

              .icon {
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
                background: #FFFFFF 0% 0% no-repeat padding-box;
                width: 60px;
                height: 60px;
                display: inline-block;
                border-radius: 50%;
                display: flex;
                place-content: center;
                place-items: center;
                z-index: 2;

                img {
                  width: 25px;
                }
              }

              .text {
                background-color: #5393FB;
                color: #fff;
                min-height: 40px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                display: flex;
                place-content: center;
                place-items: center;
                min-width: 150px;
                margin-left: -20px;
                font-size: 16px;
              }
            }

            .btn-next {
              color: #5B67EE;
              display: flex;
              place-content: center;
              place-items: center;
              gap: 10px;
              background-color: rgba(91, 103, 238, 0.1);
              padding: 5px 10px 5px 5px !important;
              border-radius: 25px;

              img {
                width: 25px;
              }
            }
          }
        }
      }
    }
  }
}