.bg-purple {
  background-color: #6f42c1;
}

.rewards-block {
  padding-bottom: 300px;
  background-size: 100%;
  background-repeat: repeat-y;
  background-image: url(../images/rewards/bg.png);
  font-size: 16px;
  line-height: 20px;

  &__content {
    padding: 30px 0;
    position: relative;
  }

  .block-content {
    border-radius: 20px;
    background: #fff;
    border: 1px solid #e0e7fa;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    // -webkit-box-shadow: 0 8px 16px 0 rgba(51, 58, 218, 0.09);
    // box-shadow: 0 8px 16px 0 rgba(51, 58, 218, 0.09);
    padding: 30px;
    margin-bottom: 30px;
    height: 100%;

    &.text {

      h3 {
        color: #fcb33c;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
      }

      .title {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}

.rewards-page {
  &__top-banner {
    border-bottom: 50px solid #636c82;

    img {
      width: 100%;
    }
  }


}

.rewards-block__content {
  &__card {
    padding: 20px;
    background-color: rgba(218, 230, 254, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 10px 3px #d2e0fe;
    -webkit-box-shadow: 0px 0px 10px 3px #d2e0fe;
    -moz-box-shadow: 0px 0px 10px 3px #d2e0fe;
    border-radius: 30px;
    margin-bottom: 50px;
    position: relative;

    &.style3,
    &.style2 {
      background: linear-gradient(180deg, rgba(233, 242, 255, 1) 0%, rgba(238, 244, 253, 1) 50%, rgba(245, 247, 250, 1) 100%);
      box-shadow: 0px 10px 10px 3px #d2e0fe;
      -webkit-box-shadow: 0px 10px 10px 3px #d2e0fe;
      -moz-box-shadow: 0px 10px 10px 3px #d2e0fe;

      .rewards-block__content__card__content {
        border: none;
        background-color: transparent !important;
        padding: 0;
      }

      &::after {
        content: "";
        position: absolute;
        height: 22px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom: 8px solid #b4d1ff;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }
    }

    &.style3 {
      background: linear-gradient(180deg, #baceed 0%, #d5e1f3 50%, #f5f7fa 100%);
      border: 1px solid rgba(255, 255, 255, 0.5);

      &::after {
        border-bottom-width: 15px;
      }
    }

    &__content {
      background-color: #fff;
      padding: 20px;
      border: 1px solid #8ab5f3;
      border-radius: 20px;

      .content {
        min-height: 400px;
      }

      .current-point {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        place-content: center;
        place-items: center;
        text-shadow: 1px 1px 10px rgb(255, 210, 97);
        color: #fff;
        font-size: 40px;
        font-weight: bold;
      }

      &__title {
        font-size: 45px;
        color: #fff;
        text-align: center;
        background: linear-gradient(90deg, rgba(0, 90, 212, 1) 0%, rgba(35, 116, 233, 1) 51%, rgba(77, 144, 255, 1) 100%);
        border-radius: 10px;
        height: 80px;
        display: flex;
        place-content: center;
        place-items: center;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-image: url(../images/rewards/card-title-vector.png);
          width: 15px;
          height: 15px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }

        &::before {
          left: 20px;
        }

        &::after {
          right: 20px;
        }

        &>span {
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 70px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            top: -5px;
          }

          &::before {
            left: -100px;
            background-image: url(../images/rewards/card-title-vector-left.png);
          }

          &::after {
            right: -100px;
            background-image: url(../images/rewards/card-title-vector-right.png);
          }
        }
      }

      .bottom {
        background-color: #cee1ff;
        color: #7f9fd2;
        text-align: center;
        font-size: 20px;
        text-transform: uppercase;
        padding: 15px;
        border-radius: 10px;
        display: inline-block;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 100%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          top: 0;
          background-image: url(../images/rewards/reft.png);
        }

        &::before {
          left: -25px;
        }

        &::after {
          right: -25px;
        }
      }

      .items {

        // &>div {
        //   padding-left: 20px;
        //   padding-right: 20px;
        // }

        .item {
          margin: 25px 0;
          padding: 15px;
          background-color: rgba(218, 230, 254, 0.5);
          border: 1px solid rgba(255, 255, 255, 0.8);
          box-shadow: 0px 0px 10px 3px #d2e0fe;
          -webkit-box-shadow: 0px 0px 10px 3px #d2e0fe;
          -moz-box-shadow: 0px 0px 10px 3px #d2e0fe;
          border-radius: 15px;

          &__content {
            background-color: #fff;
            border-bottom: 8px solid #d0d6fd;
            border-radius: 13px;
            box-shadow: 0px 0px 10px 3px #d2e0fe;
            -webkit-box-shadow: 0px 0px 10px 3px #d2e0fe;
            -moz-box-shadow: 0px 0px 10px 3px #d2e0fe;
            overflow: hidden;

            &__title {
              background-color: #7aa3f4;
              box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
              -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
              -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
              height: 60px;
              text-align: center;
              font-size: 22px;
              color: #fff;
              font-weight: bold;
              text-transform: uppercase;
              display: flex;
              place-content: center;
              place-items: center;

              &.bg-yellow {
                background-color: #ffc50b;
              }
            }

            &__img {
              margin: 15px 0;
              height: 250px;
              display: flex;
              place-content: center;
              place-items: center;

              &.full-width {

                img {
                  max-width: 100%;
                  max-height: 100%;
                  width: 100%;
                  height: 100%;
                }
              }

              img {
                max-width: 300px;
                max-height: 250px;
              }
            }

            &__des {
              text-align: center;

              span {
                background-color: #cadaff;
                color: #1654b5;
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                text-transform: uppercase;
                padding: 15px 30px;
                border-radius: 25px;
                display: inline-block;
              }
            }

            &__action {
              padding: 15px 0;

              .btn {
                transition: 0.3s;

                &:focus,
                &:active {
                  box-shadow: none !important;
                }

                &:hover {
                  opacity: 0.8 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}