<!-- Modal -->
<div class="modal fade modal-custom" id="compareNetworkModal" tabindex="-1" aria-labelledby="compareNetworkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="selectPromotionModalLabel" data-i18n="COMPARE_NETWORK"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body add-bank-modal">
        
        <div class="cryptocurrency-introduction__content">

          <div class="cryptocurrency-introduction__content__items pt-0">
            <div class="cryptocurrency-introduction__content__items__title">
              <span data-i18n="compare_network_page.title1"></span>
            </div>
            <div class="row cryptocurrency-introduction__content__items__item2">
              <div class="col-6">
                <div class="cryptocurrency-introduction__content__items__item2__content p-4 mb-0">
                  <div class="cryptocurrency-introduction__content__items__subtitle" data-i18n="compare_network_page.subtitle11"></div>
                  <div class="cryptocurrency-introduction__content__items__subtitle1" data-i18n="compare_network_page.subtitle111"></div>
                  <div class="cryptocurrency-introduction__content__items__description mb-0 pb-0" data-i18n="compare_network_page.description11"></div>
                </div>
              </div>
              <div class="col-6">
                <div class="cryptocurrency-introduction__content__items__item2__content p-4 mb-0">
                  <div class="cryptocurrency-introduction__content__items__subtitle" data-i18n="compare_network_page.subtitle12"></div>
                  <div class="cryptocurrency-introduction__content__items__subtitle1" data-i18n="compare_network_page.subtitle122"></div>
                  <div class="cryptocurrency-introduction__content__items__description mb-0 pb-0" data-i18n="compare_network_page.description12"></div>
                </div>
              </div>
            </div>
          </div>
            
          <div class="cryptocurrency-introduction__content__items">
            <div class="cryptocurrency-introduction__content__items__title">
              <span data-i18n="compare_network_page.title2"></span>
            </div>
            <div class="cryptocurrency-introduction__content__items__table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" data-i18n="compare_network_page.table.title1"></th>
                    <th scope="col" data-i18n="compare_network_page.table.title2"></th>
                    <th scope="col" data-i18n="compare_network_page.table.title3"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row11"></th>
                    <td data-i18n="compare_network_page.table.row12"></td>
                    <td data-i18n="compare_network_page.table.row13"></td>
                  </tr>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row21"></th>
                    <td data-i18n="compare_network_page.table.row22"></td>
                    <td data-i18n="compare_network_page.table.row23"></td>
                  </tr>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row31"></th>
                    <td data-i18n="compare_network_page.table.row32"></td>
                    <td data-i18n="compare_network_page.table.row33"></td>
                  </tr>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row41"></th>
                    <td data-i18n="compare_network_page.table.row42"></td>
                    <td data-i18n="compare_network_page.table.row43"></td>
                  </tr>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row51"></th>
                    <td data-i18n="compare_network_page.table.row52"></td>
                    <td data-i18n="compare_network_page.table.row53"></td>
                  </tr>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row61"></th>
                    <td data-i18n="compare_network_page.table.row62"></td>
                    <td data-i18n="compare_network_page.table.row63"></td>
                  </tr>
                  <tr>
                    <th scope="row" data-i18n="compare_network_page.table.row71"></th>
                    <td data-i18n="compare_network_page.table.row72"></td>
                    <td data-i18n="compare_network_page.table.row73"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
            
          <div class="cryptocurrency-introduction__content__items">
            <div class="cryptocurrency-introduction__content__items__title long">
              <span data-i18n="compare_network_page.title3"></span>
            </div>
            <div class="cryptocurrency-introduction__content__items__item2 row">
              <div class="col-6">
                <div class="cryptocurrency-introduction__content__items__item2__content row">
                  <div class="col-3">
                    <img src="assets/images/wallet/cryptocurrency-introduction/11.png" />
                  </div>
                  <div class="col-9">
                    <div class="title" data-i18n="compare_network_page.title31"></div>
                    <div class="description" data-i18n="compare_network_page.description31"></div>
                  </div>
                </div>  
              </div>
              <div class="col-6">
                <div class="cryptocurrency-introduction__content__items__item2__content row">
                  <div class="col-3">
                    <img src="assets/images/wallet/cryptocurrency-introduction/12.png" />
                  </div>
                  <div class="col-9">
                    <div class="title" data-i18n="compare_network_page.title32"></div>
                    <div class="description" data-i18n="compare_network_page.description32"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <!-- <div class="cryptocurrency-introduction__content__warning" data-i18n="compare_network_page.warning"></div> -->
          
        </div>

      </div>
    </div>
  </div>
</div>