<div class="row select-bank">
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/crypto-option/1.png" />
      </div>
      <div class="select-bank__item__label__title">USDT</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="crypto_option" value="USDT" checked="checked"/>
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/crypto-option/2.png" />
      </div>
      <div class="select-bank__item__label__title">BUSD</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="crypto_option" value="BUSD" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/crypto-option/3.png" />
      </div>
      <div class="select-bank__item__label__title">ETH</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="crypto_option" value="ETH" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/crypto-option/4.png" />
      </div>
      <div class="select-bank__item__label__title">Bitcoin</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="crypto_option" value="Bitcoin" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>