<!-- Modal -->
<div
  class="modal fade alert"
  id="cryptoDepositSuccessModal"
  tabindex="-1"
  aria-labelledby="cryptoDepositSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5 
          class="text-center mb-3"
          id="cryptoDepositSuccessModalLabel"
          data-i18n="SUCCESSFUL"
        >
          SUCCESSFUL
        </h5>
        <div class="text-center mb-3">
          Your crypto deposit is processing, which may take a couple of minutes as different crypto & network will required different time frame to process.<br/>
          Kindly check the processing status in History page. If your deposit is not credited after 5 minute, please contact Customer Service.<br/>
        </div>
        <div class="text-title mb-2">Your transaction ID is:166385</div>
        <a href="/wallet" class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>
