<div class="deposit-items">
  <div class="deposit-items__title" data-i18n="select_bank">Select Bank</div>
  <div class="deposit-items__content">
    @@include('../../select-bank.html')
  </div>
</div>

<div class="deposit-items">
  <div class="deposit-items__title" data-i18n="banking_details">Banking Details</div>
  <div class="deposit-items__content">
    <div class="row pb-4">
      <div class="col">
        <div class="text-primary mb-2" data-i18n="Bank_Account_Name">Bank Account Name</div>
        <h3>KYC ENTERPRISE</h3>
      </div>
      <div class="col text-end">
        <button class="btn btn-primary" data-i18n="copy">Copy</button>
      </div>
    </div>
    <div class="row pb-4">
      <div class="col">
        <div class="text-primary mb-2" data-i18n="Bank_Account_Number">Bank Account Number</div>
        <h3>1002020000</h3>
      </div>
      <div class="col text-end">
        <button class="btn btn-primary" data-i18n="copy">Copy</button>
      </div>
    </div>
  </div>
</div>

<div class="deposit-items">
  <div class="deposit-items__title" data-i18n="Deposit_Amount">Deposit Amount</div>
  <div class="deposit-items__content">
    @@include('../../deposit-amount.html')
  </div>
</div>

<div class="deposit-items">
  <div class="deposit-items__title" data-i18n="Attention">Attention</div>
  <div class="deposit-items__content">
    <ul>
      <li>Fund deposited from a 3rd party bank account that are NOT in your own name or NOT registered with OB9 will NOT be accepted.</li>
      <li>Kindly check our latest active bank accounts before making new deposit.</li>
      <li>
        Please <span class="text-danger">DO NOT</span> key in any sensitive words in “Recipient Reference/ Other Payment Details” when making transfer.
        <br/>Example : OB Entertainment, OB9, BET, Casino and etc.
      </li>
      <li>Please submit the deposit form after the transfer so that we can process your deposit more quickly once we receive your fund. </li>
      <li>Please upload receipt to enjoy faster and bettter experiences.</li>
      <li>Please take note that at least 1x rollover is required for all deposits made before any withdrawal can be processed.</li>
    </ul>
  </div>
</div>