<!-- Modal -->
<div class="modal fade modal-custom" id="findOutMoreModal" tabindex="-1" aria-labelledby="findOutMoreModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-uppercase" id="selectPromotionModalLabel" data-i18n="Cryptocurrency_Introduction"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body add-bank-modal">
        
        <div class="cryptocurrency-introduction__content">

          <div class="cryptocurrency-introduction__content__items pt-0">
            <div class="cryptocurrency-introduction__content__items__title">
              <span data-i18n="cryptocurrency_introduction_page.title1"></span>
            </div>
            <ul>
              <li data-i18n="cryptocurrency_introduction_page.description11"></li>
              <li data-i18n="cryptocurrency_introduction_page.description12"></li>
              <li data-i18n="cryptocurrency_introduction_page.description13"></li>
            </ul>
          </div>
            
          <div class="cryptocurrency-introduction__content__items">
            <div class="cryptocurrency-introduction__content__items__title">
              <span data-i18n="cryptocurrency_introduction_page.title2"></span>
            </div>
            <div class="cryptocurrency-introduction__content__items__item1 row">
              <div class="cryptocurrency-introduction__content__items__item1__content col-4">
                <div>
                  <div class="row m-0">
                    <div class="col-3 pe-0">
                      <img src="assets/images/wallet/cryptocurrency-introduction/1.png" />
                    </div>
                    <div class="col-9">
                      <div class="title text-start" data-i18n="cryptocurrency_introduction_page.title21"></div>
                      <div class="description" data-i18n="cryptocurrency_introduction_page.description21"></div>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="cryptocurrency-introduction__content__items__item1__content col-4">
                <div>
                  <div class="row m-0">
                    <div class="col-3 pe-0">
                      <img src="assets/images/wallet/cryptocurrency-introduction/2.png" />
                    </div>
                    <div class="col-9">
                      <div class="title" data-i18n="cryptocurrency_introduction_page.title22"></div>
                      <div class="description" data-i18n="cryptocurrency_introduction_page.description22"></div>
                    </div>
                  </div>
                </div>
              </div>  
              <div class="cryptocurrency-introduction__content__items__item1__content col-4">
                <div>
                  <div class="row m-0">
                    <div class="col-3 pe-0">
                      <img src="assets/images/wallet/cryptocurrency-introduction/3.png" />
                    </div>
                    <div class="col-9">
                      <div class="title" data-i18n="cryptocurrency_introduction_page.title23"></div>
                      <div class="description" data-i18n="cryptocurrency_introduction_page.description23"></div>
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
            
          <div class="cryptocurrency-introduction__content__items">
            <div class="cryptocurrency-introduction__content__items__title">
              <span data-i18n="cryptocurrency_introduction_page.title3"></span>
            </div>
            <div class="cryptocurrency-introduction__content__items__description" data-i18n="cryptocurrency_introduction_page.description3"></div>
            <div class="cryptocurrency-introduction__content__items__item2 row">
              <div class="col-4">
                <div class="cryptocurrency-introduction__content__items__item2__content row mb-0 h-100 align-items-start pt-2 pb-2">
                  <div class="col-3 pe-0 pt-3">
                    <img src="assets/images/wallet/cryptocurrency-introduction/4.png" />
                  </div>
                  <div class="col-9 ps-3">
                    <div class="title" data-i18n="cryptocurrency_introduction_page.title31"></div>
                    <div class="description" data-i18n="cryptocurrency_introduction_page.description31"></div>
                  </div>
                </div>  
              </div>
              <div class="col-4">
                <div class="cryptocurrency-introduction__content__items__item2__content row mb-0 h-100 align-items-start pt-2 pb-2">
                  <div class="col-3 pe-0 pt-3">
                    <img src="assets/images/wallet/cryptocurrency-introduction/5.png" />
                  </div>
                  <div class="col-9 ps-3">
                    <div class="title" data-i18n="cryptocurrency_introduction_page.title32"></div>
                    <div class="description" data-i18n="cryptocurrency_introduction_page.description32"></div>
                  </div>
                </div>  
              </div>
              <div class="col-4">
                <div class="cryptocurrency-introduction__content__items__item2__content row mb-0 h-100 align-items-start pt-2 pb-2">
                  <div class="col-3 pe-0 pt-3">
                    <img src="assets/images/wallet/cryptocurrency-introduction/6.png" />
                  </div>
                  <div class="col-9 ps-3">
                    <div class="title" data-i18n="cryptocurrency_introduction_page.title33"></div>
                    <div class="description" data-i18n="cryptocurrency_introduction_page.description33"></div>
                  </div>
                </div>  
              </div>
            </div>
          </div>
            
          <div class="cryptocurrency-introduction__content__items">
            <div class="cryptocurrency-introduction__content__items__title">
              <span data-i18n="cryptocurrency_introduction_page.title4"></span>
            </div>
            <div class="cryptocurrency-introduction__content__items__item2">
              <div class="cryptocurrency-introduction__content__items__item2__content row">
                <div class="col-2 text-center">
                  <img class="popular-icon" src="assets/images/wallet/cryptocurrency-introduction/7.png" />
                </div>
                <div class="col-10">
                  <div class="title" data-i18n="cryptocurrency_introduction_page.title41"></div>
                  <div class="description" data-i18n="cryptocurrency_introduction_page.description41"></div>
                </div>
              </div>  
              <div class="cryptocurrency-introduction__content__items__item2__content row">
                <div class="col-2 text-center">
                  <img class="popular-icon" src="assets/images/wallet/cryptocurrency-introduction/8.png" />
                </div>
                <div class="col-10">
                  <div class="title" data-i18n="cryptocurrency_introduction_page.title42"></div>
                  <div class="description" data-i18n="cryptocurrency_introduction_page.description42"></div>
                </div>
              </div>  
              <div class="cryptocurrency-introduction__content__items__item2__content row">
                <div class="col-2 text-center">
                  <img class="popular-icon" src="assets/images/wallet/cryptocurrency-introduction/9.png" />
                </div>
                <div class="col-10">
                  <div class="title" data-i18n="cryptocurrency_introduction_page.title43"></div>
                  <div class="description" data-i18n="cryptocurrency_introduction_page.description43"></div>
                </div>
              </div>  
              <div class="cryptocurrency-introduction__content__items__item2__content row">
                <div class="col-2 text-center">
                  <img class="popular-icon" src="assets/images/wallet/cryptocurrency-introduction/10.png" />
                </div>
                <div class="col-10">
                  <div class="title" data-i18n="cryptocurrency_introduction_page.title44"></div>
                  <div class="description" data-i18n="cryptocurrency_introduction_page.description44"></div>
                </div>
              </div>  
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>