<!-- Modal -->
<div
  class="modal fade alert"
  id="paymentGatewaySuccessModal"
  tabindex="-1"
  aria-labelledby="paymentGatewaySuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="text-center mb-3" data-i18n="paymentGatewaySuccessModal"></div>
        <!-- <a href="/wallet" class="btn btn-primary">OK</a> -->
        <button class="btn btn-primary" data-bs-dismiss="modal" data-i18n="PROCEED">PROCEED</button>
      </div>
    </div>
  </div>
</div>
