
<!-- Modal -->
<div class="modal fade slide-up" id="chooseWalletModal" tabindex="-1" aria-labelledby="chooseWalletModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#"  data-bs-dismiss="modal" aria-label="Close">Cancel</a>
        <h5 class="modal-title" id="chooseWalletModalLabel" data-i18n="Select_Bank">Choose Wallet</h5>
        <a href="#" class="opacity-0" data-bs-dismiss="modal" aria-label="Close">Cancel</a>
      </div>
      <div class="modal-body choose-modal">
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">MAIN WALLET</div>
          <input type="radio" name="choose-modal-radio" checked class="d-none" value="MAIN WALLET_VIRTUAL SPORTS" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">IGKBET SPORTS</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="IGKBET SPORTS_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">CMD368 SPORTS</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="CMD368 SPORTS_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">EVO CLUB</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="EVO CLUB_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">PP CLUB</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="PP CLUB_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">SEXY CLUB</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="SEXY CLUB_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">DG CLUB</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="DG CLUB_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">PP SLOTS</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="PP SLOTS_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">QTECH SLOTS</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="QTECH SLOTS_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">CQ SLOTS</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="CQ SLOTS_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        
        <label class="choose-modal__items">
          <div class="choose-modal__items__content">TOKYO KOMBAT</div>
          <input type="radio" name="choose-modal-radio" class="d-none" value="TOKYO KOMBAT_MAIN WALLET" />
          <img class="checkmark" src="assets/images/wallet/choose.png" />
        </label>
        

      </div>
    </div>
  </div>
</div>