Payment Gateway pop upPayment Gateway pop up<!-- Modal -->
<div
  class="modal fade alert"
  id="PaymentGatewayModal"
  tabindex="-1"
  aria-labelledby="PaymentGatewayModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="text-center mb-3">
          Please proceed to payment gateway to transfer the fund
        </div>
        <button
          type="button"
          class="btn btn-primary btn-confirm"
          data-bs-dismiss="modal"
        >
          CONFIRM
        </button>
      </div>
    </div>
  </div>
</div>
