
<!-- Modal -->
<div class="modal fade modal-custom" id="selectPromotionModal" tabindex="-1" aria-labelledby="selectPromotionModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="selectPromotionModalLabel" data-i18n="Select_Promotion">Select Promotion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="col-10">

            <div class="select-promotion row">
              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-1.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none" checked/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>

              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-2.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>
              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-3.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>

              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-4.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>

              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-5.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>

              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-6.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>

              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-7.png" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR500</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x25</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="1" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>

              <div class="col-6">
                <label class="select-promotion__items">
                  <div class="select-promotion__items__img">
                    <img src="assets/images/wallet/deposit/select-8.jpeg" />
                  </div>
                  <div class="select-promotion__items__content">
                    <div class="select-promotion__items__content__text">
                      <div class="d-flex justify-content-bettwen align-items-center mb-2">
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Bonus"></span>: <strong>MYR0</strong>
                        </div>
                        <div class="w-50">
                          <span class="text-primary" data-i18n="Turnover"></span>: <strong>x1</strong>
                        </div>
                      </div>
                      <div>
                        <span class="text-danger" data-i18n="Turnover_requirement"></span>: <strong>MYR25,000</strong>
                      </div>
                    </div>
                    <div class="select-promotion__items__content__input">
                      <input type="radio" name="select-promotion-radio" value="0" class="d-none"/>
                      <span class="checkmark"></span>
                    </div>
                  </div>
                </label>
              </div>
    
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>