<div class="row select-bank">
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/Truepay.png" />
      </div>
      <div class="select-bank__item__label__title">Truepay</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="select_payment_gateway" checked="checked"/>
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/EasyPay.png" style="max-width: 50px" />
      </div>
      <div class="select-bank__item__label__title">EasyPay</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="select_payment_gateway" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>