<div class="deposit-amount__select-promotion" data-bs-toggle="modal" data-bs-target="#selectPromotionModal">
  <div class="deposit-amount__select-promotion__input">
    <div class="deposit-amount__select-promotion__input__label" data-i18n="Select_Promotion">Select Promotion</div>
    <div id="select-promotion-placeholder" class="select-promotion-placeholder deposit-amount__select-promotion__input__placeholder" data-i18n="Please_select_available_promotion">Please select available promotion</div>
  </div>
  <img src="assets/images/wallet/deposit/right.png" />
</div>

<div class="deposit-amount__summary d-none">
  <div class="deposit-amount__summary__title" data-i18n="Deposit_Summary">Deposit Summary</div>
  <div class="deposit-amount__summary__content">
    <div class="row pb-3">
      <div class="col-6 fw-bold" data-i18n="Deposit_Method">Deposit Method:</div>
      <div class="col-6 text-primary">Online Banking</div>
    </div>
    <div class="row pb-3">
      <div class="col-6 fw-bold" data-i18n="Amount">Amount:</div>
      <div class="col-6 text-primary">MYR 500</div>
    </div>
    <div class="row pb-3">
      <div class="col-6 fw-bold" data-i18n="Promotion"></div>
      <div class="col-6 text-primary Deposit_Summary_Promotion" data-i18n="Welcome_Bonus_up_to"></div>
    </div>
    <div class="deposit-amount__summary__content__sub">
      <div class="row pb-3">
        <div class="col-6 fw-bold" data-i18n="Bonus"></div>
        <div class="col-6 text-primary Deposit_Summary_Bonus">MYR 200</div>
      </div>
      <div class="row pb-3">
        <div class="col-6 fw-bold" data-i18n="Turnover"></div>
        <div class="col-6 text-primary Deposit_Summary_Turnover">x25</div>
      </div>
      <div class="row pb-3">
        <div class="col-6 fw-bold" data-i18n="Turnover_Requirement"></div>
        <div class="col-6 text-danger Deposit_Summary_Turnover_Requirement">MYR 10,000</div>
      </div>
      <div class="fs-6" data-i18n="Deposit_Bonus_Turnover"></div>
    </div>
  </div>
</div>