<!-- Modal -->
<div
  class="modal fade alert"
  id="transferConfirmModal"
  tabindex="-1"
  aria-labelledby="transferConfirmModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div class="text-center mb-3">
          After disabling auto transfer balance, you will need to manually set
          the balance of each game wallet. Confirm to proceed?
        </div>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" data-i18n="CANCEL">CANCEL</button>
        <button type="button" class="btn btn-primary btn-confirm" data-i18n="CONFIRM">CONFIRM</button>
      </div>
    </div>
  </div>
</div>
