<!-- Modal -->
<div
  class="modal fade alert"
  id="transferSuccessModal"
  tabindex="-1"
  aria-labelledby="transferSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5
          class="text-center mb-3"
          id="transferSuccessModalLabel"
          data-i18n="Select_Promotion"
        >
          SUCCESSFUL
        </h5>
        <div class="text-center mb-3">
          Your transfer request has been completed. Kindly check the Transaction
          History page for more details
        </div>
        <!-- <button class="btn btn-primary" data-bs-dismiss="modal">OK</button> -->
        <a href="/wallet/transaction-history.html" class="btn btn-primary">OK</a>
      </div>
    </div>
  </div>
</div>
