<!-- Modal -->
<div
  class="modal fade alert"
  id="withdrawalSuccessModal"
  tabindex="-1"
  aria-labelledby="withdrawalSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5 
          class="text-center mb-3"
          id="withdrawalSuccessModalLabel"
          data-i18n="SUCCESSFUL"
        >
          SUCCESSFUL
        </h5>
        <div class="text-center mb-3" data-i18n="withdrawal_success_message">
          Your deposit request has been submitted successfully. Kindly check the
          processing status in History page. If your deposit is not credited
          after 5 minutes, please contact Customer Service.
        </div>
        <div class="text-title mb-3">Your transaction ID is:166385</div>
        <a href="/wallet" class="btn btn-primary">OK</a>
        <!-- <button class="btn btn-primary" data-bs-dismiss="modal">OK</button> -->
      </div>
    </div>
  </div>
</div>
