<!-- Modal -->
<div
  class="modal fade alert confirm"
  id="deleteCryptoWalletAddressModal"
  tabindex="-1"
  aria-labelledby="deleteCryptoWalletAddressModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static" 
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-i18n="Message"></h5>
      </div>
      <div class="modal-body text-center">
        <div class="text-center mb-3" data-i18n="delete_crypto_wallet_address_confirm_message"></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-dismiss="modal" data-i18n="cancel"></button>
        <button class="btn btn-success" data-bs-dismiss="modal" data-i18n="yes"></button>
      </div>
    </div>
  </div>
</div>
