<div class="my-navbar">
  <nav class="my-navbar__top navbar fixed-top navbar-expand-lg">
    <div class="my-navbar__top__container container">
      <span class="navbar-text pe-3">
        GMT+8 2022-02-18 11:49:21
      </span>
      <ul class="navbar-nav me-auto nav-left">
        <li class="nav-item">
          <a class="nav-link" href="#" data-i18n="top_menu.Homepage"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
            <div class="vr"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-i18n="top_menu.Support_Live_Chat"></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto nav-right">
        <li class="nav-item nav-info">
          <a class="nav-link pe-0" aria-current="page" href="#">
            <span data-i18n="top_menu.Welcome_username8080"></span>
            <img src="/assets/icons/vip-0.png" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
            <div class="vr"></div>
          </a>
        </li>
        <li class="nav-item nav-info">
          <a class="nav-link ps-0" aria-current="page" href="#">
            <img src="/assets/icons/eye.png" />
            <span data-i18n="top_menu.Total_Balance"></span>
            <span class="currency">MYR 5888.20</span>
            <img src="/assets/icons/refresh.png" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-i18n="top_menu.Deposit"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-i18n="top_menu.Withdraw"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" data-i18n="top_menu.Rebate"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
            <div class="vr"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img src="/assets/icons/ring.png" />
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/universal.html">
            <img src="/assets/icons/logout.png" />
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <nav class="my-navbar__main navbar fixed-top navbar-expand-lg">
    <div class="my-navbar__main__container container">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/navbar-logo.png" />
      </a>
      <ul class="navbar-nav nav-left">
        <li class="nav-item">
          <a class="nav-link active" href="/" data-i18n="navbar.Home"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/" data-i18n="navbar.SPORTS"></a>
          <div class="dropdown-menu mymenu">
            <div class="row mymenu__container sports">
              <div class="col mymenu__container__item">
                <div class="mymenu__container__item__img">
                  <img src="/assets/images/navbar/sports-1.png" />
                </div>
                <div class="mymenu__container__item__text">
                  <img class="official" src="/assets/images/navbar/official.png" />
                  <div class="title" data-i18n="navbar.SPORTS_DROPROWN.title1"></div>
                  <div class="description" data-i18n="navbar.SPORTS_DROPROWN.description1"></div>
                  <a class="play-now" href="#">
                    <img src="/assets/images/navbar/play-now-button.png" />
                  </a>
                </div>
              </div>
              <div class="col mymenu__container__item">
                <div class="mymenu__container__item__img">
                  <img src="/assets/images/navbar/sports-2.png" />
                </div>
                <div class="mymenu__container__item__text">
                  <img class="official opacity-0" src="/assets/images/navbar/official.png" />
                  <div class="title" data-i18n="navbar.SPORTS_DROPROWN.title2"></div>
                  <div class="description" data-i18n="navbar.SPORTS_DROPROWN.description2"></div>
                  <a class="play-now" href="#">
                    <img src="/assets/images/navbar/play-now-button.png" />
                  </a>
                </div>
              </div>
              <div class="col mymenu__container__item">
                <div class="mymenu__container__item__img">
                  <img src="/assets/images/navbar/sports-3.png" />
                </div>
                <div class="mymenu__container__item__text">
                  <img class="official opacity-0" src="/assets/images/navbar/official.png" />
                  <div class="title" data-i18n="navbar.SPORTS_DROPROWN.title3"></div>
                  <div class="description" data-i18n="navbar.SPORTS_DROPROWN.description3"></div>
                  <a class="play-now" href="#">
                    <img src="/assets/images/navbar/play-now-button.png" />
                  </a>
                </div>
              </div>
              <div class="col-2 mymenu__container__item SPORTS_EVENT">
                <div>
                  <div class="title" data-i18n="navbar.SPORTS_DROPROWN.SPORTS_EVENT_title"></div>
                  <div class="description" data-i18n="navbar.SPORTS_DROPROWN.SPORTS_EVENT_desciption"></div>
                  <div class="percent">
                    <span>1.18</span>
                    <span>%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/" data-i18n="navbar.LIVE_CASINO"></a>
          <div class="dropdown-menu mymenu">
            <div class="row mymenu__container live-casino">
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/live-casino-1.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/live-casino-2.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/live-casino-3.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/live-casino-4.png" />
              </div>
              <div class="col-1"></div>
              <div class="col-12"></div>
              <div class="col-1"></div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/live-casino-5.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/live-casino-6.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/live-casino-7.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/live-casino-8.png" />
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/" data-i18n="navbar.SLOTS"></a>
          <div class="dropdown-menu mymenu">
            <div class="row mymenu__container live-casino">
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/slots-1.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/slots-2.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/slots-3.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/slots-4.png" />
              </div>
              <div class="col-1"></div>
              <div class="col-12"></div>
              <div class="col-1"></div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/slots-5.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/slots-6.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/slots-7.png" />
              </div>
              <div class="col mymenu__container__item second-col">
                <img src="/assets/images/navbar/slots-8.png" />
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/" data-i18n="navbar.FISHING"></a>
          <div class="dropdown-menu mymenu">
            <div class="row mymenu__container container m-auto">
              <div class="col mymenu__container__item">
                <div class="mymenu__container__item__img">
                  <img src="/assets/images/navbar/fishing-1.png" />
                </div>
                <div class="mymenu__container__item__text">
                  <img class="hight-return" src="/assets/images/navbar/fishing-hight-return.png" />
                  <img class="official" src="/assets/images/navbar/official.png" />
                  <div class="title" data-i18n="navbar.FIRSHING_DROPROWN.title1"></div>
                  <div class="description" data-i18n="navbar.FIRSHING_DROPROWN.description1"></div>
                  <a class="play-now" href="#">
                    <img src="/assets/images/navbar/play-now-button.png" />
                  </a>
                </div>
              </div>
              <div class="col mymenu__container__item">
                <div class="mymenu__container__item__img">
                  <img src="/assets/images/navbar/fishing-2.png" />
                </div>
                <div class="mymenu__container__item__text">
                  <img class="official opacity-0" src="/assets/images/navbar/official.png" />
                  <div class="title" data-i18n="navbar.FIRSHING_DROPROWN.title2"></div>
                  <div class="description" data-i18n="navbar.FIRSHING_DROPROWN.description2"></div>
                  <a class="play-now" href="#">
                    <img src="/assets/images/navbar/play-now-button.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/" data-i18n="navbar.E_SPORTS"></a>
          <div class="dropdown-menu mymenu">
            <div class="row mymenu__container e-sports">
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/e-sports-1.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/e-sports-2.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/e-sports-3.png" />
              </div>
              <div class="col mymenu__container__item">
                <img src="/assets/images/navbar/e-sports-4.png" />
              </div>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="/" data-i18n="navbar.LOTTERY"></a>
          <div class="dropdown-menu mymenu">
            <div class="row mymenu__container container lottery">
              <div class="col-7 mymenu__container__item">
                <div class="mymenu__container__item__img">
                  <img src="/assets/images/navbar/lottery-1.png" />
                </div>
                <div class="mymenu__container__item__text">
                  <div class="title" data-i18n="navbar.LOTTERY_DROPROWN.title1"></div>
                  <div class="description" data-i18n="navbar.LOTTERY_DROPROWN.description1"></div>
                  <a class="play-now" href="#">
                    <img src="/assets/images/navbar/play-now-button.png" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav nav-right ms-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <div class="nav-link-img">
              <img src="/assets/icons/navbar/cutomer-service.png" />
            </div>
            <div data-i18n="navbar.Customer_Service"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <div class="nav-link-img">
              <img src="/assets/icons/navbar/promotion.png" />
            </div>
            <div data-i18n="navbar.Promotion"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <div class="nav-link-img">
              <img src="/assets/icons/navbar/sponsor.png" />
            </div>
            <div data-i18n="navbar.Sponsor"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <div class="nav-link-img">
              <img src="/assets/icons/navbar/vip.png" />
            </div>
            <div data-i18n="navbar.VIP"></div>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">
            <div class="nav-link-img">
              <img src="/assets/icons/navbar/language.png" />
            </div>
            <div data-i18n="navbar.Malaysia"></div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>