<div class="profile-navbar">
  <div class="profile-navbar__info">
    <div class="profile-navbar__info__avatar">
      <img class="profile-navbar__info__avatar__img" src="assets/images/profile/5.png" />
      <img class="profile-navbar__info__avatar__vip" src="assets/images/my-account/vip-0.png" />
    </div>
    <div class="profile-navbar__info__username">Username8080</div>
    <div class="profile-navbar__info__join" data-i18n="account_layout.join_since"></div>
    <div class="profile-navbar__info__Security_Level" data-i18n="account_layout.Security_Level"></div>
    <div class="profile-navbar__info__icons">
      <img src="assets/icons/profile/phone.png" />
      <img src="assets/icons/profile/email.png" />
      <img src="assets/icons/profile/info.png" />
      <img src="assets/icons/profile/bank.png" />
    </div>
  </div>
  <div class="profile-navbar__navbar">
    <div class="profile-navbar__navbar__Total_Balance" data-i18n="account_layout.Total_Balance"></div>
    <div class="profile-navbar__navbar__currency">
      <span>MYR 5888.20</span>
      <img src="assets/icons/profile/refresh.png" />
    </div>
    <div class="profile-navbar__navbar__top-icon">
      <a href="/deposit.html" class="profile-navbar__navbar__top-icon__items @@if (context.activeBalance == 1) {active}">
        <img class="profile-navbar__navbar__top-icon__items__img" src="assets/icons/profile/deposit.png" />
        <img class="profile-navbar__navbar__top-icon__items__img-active" src="assets/icons/profile/deposit-active.png" />
        <div data-i18n="account_layout.Deposit"></div>
      </a>
      <a href="/withdrawal.html" class="profile-navbar__navbar__top-icon__items @@if (context.activeBalance == 2) {active}">
        <img class="profile-navbar__navbar__top-icon__items__img" src="assets/icons/profile/withdrawal.png" />
        <img class="profile-navbar__navbar__top-icon__items__img-active" src="assets/icons/profile/withdrawal-active.png" />
        <div data-i18n="account_layout.Withdrawal"></div>
      </a>
      <a href="#" class="profile-navbar__navbar__top-icon__items @@if (context.activeBalance == 3) {active}">
        <img class="profile-navbar__navbar__top-icon__items__img" src="assets/icons/profile/transfer.png" />
        <img class="profile-navbar__navbar__top-icon__items__img-active" src="assets/icons/profile/transfer-active.png" />
        <div data-i18n="account_layout.Rebate"></div>
      </a>
    </div>
    <ul class="profile-navbar__navbar__bottom-nav">
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="/my-wallet.html" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 4) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/my-wallet.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/my-wallet-active.png" />
          <div data-i18n="account_layout.My_Wallet"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="#" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 5) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/bonus-center.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/bonus-center-active.png" />
          <div data-i18n="account_layout.Bonus_Center"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="#" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 6) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/transaction-history.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/transaction-history-active.png" />
          <div data-i18n="account_layout.Transaction_History"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="#" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 7) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/betting-record.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/betting-record-active.png" />
          <div data-i18n="account_layout.Betting_Record"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="#" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 8) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/manage-bank-account.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/manage-bank-account-active.png" />
          <div data-i18n="account_layout.Manage_Bank_Account"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item divider"></li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="#" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 9) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/my-profile.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/my-profile-active.png" />
          <div data-i18n="account_layout.My_Profile"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="/vip-detail.html" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 10) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/vip-details.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/vip-details-active.png" />
          <div data-i18n="account_layout.VIP_Details"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="/referral-program.html" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 11) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/referral-program.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/referral-program-active.png" />
          <div data-i18n="account_layout.Referral_Program"></div>
        </a>
      </li>
      <li class="profile-navbar__navbar__bottom-nav__item">
        <a href="#" class="profile-navbar__navbar__bottom-nav__item__link @@if (context.active == 12) {active}">
          <img class="profile-navbar__navbar__bottom-nav__item__link__img" src="assets/icons/profile/inbox.png" />
          <img class="profile-navbar__navbar__bottom-nav__item__link__img-active" src="assets/icons/profile/inbox-active.png" />
          <div data-i18n="account_layout.Inbox"></div>
        </a>
      </li>
    </ul>
  </div>
</div>