.live-match-block {
  padding: 0; }
  .live-match-block__content {
    padding: 120px 0 0;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/live-match/BG.png); }
  .live-match-block .block-content {
    border-radius: 20px;
    background: #fff;
    border: 1px solid #e0e7fa;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 30px;
    height: 100%; }
    .live-match-block .block-content.text h3 {
      color: #fcb33c;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px; }
    .live-match-block .block-content.text .title {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px; }

.live-match-page__top {
  width: 90%;
  margin: 50px auto;
  padding: 70px;
  border-radius: 40px;
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url(../images/live-match/top-bg.png);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2); }
  .live-match-page__top__video {
    min-height: 600px; }
    .live-match-page__top__video iframe {
      width: 100%;
      height: 600px; }
    .live-match-page__top__video__vs {
      background-color: #E1E8F5;
      font-size: 60px;
      font-weight: 400;
      display: flex;
      place-content: space-around;
      place-items: center;
      width: fit-content;
      margin: 40px auto 0;
      min-height: 90px;
      border-radius: 50px;
      padding: 0 50px;
      min-width: 700px; }
      .live-match-page__top__video__vs__name {
        font-size: 40px;
        font-weight: 300; }

.live-match-page__content {
  margin: 100px auto;
  padding: 70px;
  border-radius: 40px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.2);
  background-size: cover;
  background-repeat: repeat-y;
  background-image: url(../images/live-match/content-bg.png); }
  .live-match-page__content__title {
    display: flex;
    place-content: center;
    place-items: center;
    margin-bottom: 50px;
    position: relative;
    min-height: 80px; }
    .live-match-page__content__title span {
      font-style: normal;
      font-weight: 400;
      font-size: 80px;
      text-align: center;
      color: #5986F2;
      position: relative;
      display: flex;
      place-content: center;
      place-items: center;
      min-width: 185px; }
      .live-match-page__content__title span::before {
        position: absolute;
        width: 200px;
        height: 40px;
        left: -50%;
        content: "";
        background-image: url(../images/live-match/live-match-left.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
      .live-match-page__content__title span::after {
        position: absolute;
        width: 200px;
        height: 40px;
        right: -50%;
        content: "";
        background-image: url(../images/live-match/live-match-right.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
  .live-match-page__content__tab {
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden; }
    .live-match-page__content__tab .nav {
      border-bottom: none;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); }
      .live-match-page__content__tab .nav .nav-item {
        background-color: #fff;
        padding: 15px 0; }
        .live-match-page__content__tab .nav .nav-item .nav-link {
          text-align: center;
          letter-spacing: 0px;
          color: #5986F2;
          font-size: 20px;
          min-height: 40px;
          border: none;
          border-right: 1px solid #C8CEE3;
          border-radius: 0; }
        .live-match-page__content__tab .nav .nav-item:last-child .nav-link {
          border-right: none; }
    .live-match-page__content__tab .tab-content {
      padding: 30px;
      background-size: cover;
      background-image: url(../images/live-match/tab-content-bg.png); }
      .live-match-page__content__tab .tab-content .match-left-item {
        padding: 15px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 29px;
        position: relative;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
        .live-match-page__content__tab .tab-content .match-left-item::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          width: 220px;
          height: 10px;
          background: transparent linear-gradient(90deg, #557ABB 0%, #85A8ED 99%) 0% 0% no-repeat padding-box;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          margin: auto; }
        .live-match-page__content__tab .tab-content .match-left-item__title {
          text-align: left;
          letter-spacing: 0px;
          color: #5986F2;
          font-size: 18px;
          padding-bottom: 15px; }
        .live-match-page__content__tab .tab-content .match-left-item__match {
          background: transparent linear-gradient(0deg, #FFFFFF 0%, #E1E8F5 98%) 0% 0% no-repeat padding-box;
          border: 1px solid #C8CEE3;
          border-radius: 12px;
          min-height: 150px;
          padding: 15px;
          display: flex;
          place-content: space-between;
          place-items: flex-end;
          font-size: 18px; }
        .live-match-page__content__tab .tab-content .match-left-item__time {
          padding: 10px 15px;
          color: #818594;
          font-size: 16px;
          border-bottom: 1px solid #C8CEE3; }
        .live-match-page__content__tab .tab-content .match-left-item__action {
          display: flex;
          place-content: space-between;
          place-items: center;
          padding: 10px 0; }
          .live-match-page__content__tab .tab-content .match-left-item__action .btn {
            padding: 0;
            min-width: initial; }
          .live-match-page__content__tab .tab-content .match-left-item__action .btn-watch {
            display: flex;
            place-content: center;
            place-items: center; }
            .live-match-page__content__tab .tab-content .match-left-item__action .btn-watch .icon {
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
              background: #FFFFFF 0% 0% no-repeat padding-box;
              width: 50px;
              height: 50px;
              display: inline-block;
              border-radius: 50%;
              display: flex;
              place-content: center;
              place-items: center;
              z-index: 2; }
              .live-match-page__content__tab .tab-content .match-left-item__action .btn-watch .icon img {
                width: 25px; }
            .live-match-page__content__tab .tab-content .match-left-item__action .btn-watch .text {
              background-color: #5393FB;
              color: #fff;
              min-height: 32px;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
              display: flex;
              place-content: center;
              place-items: center;
              min-width: 110px;
              margin-left: -20px;
              padding-left: 10px;
              font-weight: 300;
              font-size: 14px; }
          .live-match-page__content__tab .tab-content .match-left-item__action .btn-next img {
            width: 30px; }
      .live-match-page__content__tab .tab-content .match-right-item {
        padding: 15px 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 29px;
        position: relative;
        -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        margin-left: 30px;
        min-height: 250px;
        display: flex;
        place-content: space-between;
        place-items: flex-start;
        flex-direction: column; }
        .live-match-page__content__tab .tab-content .match-right-item::after {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          right: 0;
          width: 10px;
          height: 180px;
          background: transparent linear-gradient(180deg, #557ABB 0%, #85A8ED 99%) 0% 0% no-repeat padding-box;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          margin: auto; }
        .live-match-page__content__tab .tab-content .match-right-item__title {
          display: flex;
          place-content: space-between;
          place-items: flex-end; }
          .live-match-page__content__tab .tab-content .match-right-item__title__btn {
            background: transparent linear-gradient(0deg, #C4D1FA 0%, #F9FBFC 99%) 0% 0% no-repeat padding-box;
            border: 2px solid #707070;
            border-radius: 27px;
            color: #5986F2;
            font-size: 18px;
            min-width: 150px;
            min-height: 40px;
            display: flex;
            place-content: center;
            place-items: center; }
          .live-match-page__content__tab .tab-content .match-right-item__title__time {
            color: #818594;
            font-size: 18px; }
        .live-match-page__content__tab .tab-content .match-right-item__match {
          background: #E1E8F5;
          border-radius: 30px;
          padding: 25px 40px;
          display: flex;
          place-content: space-between;
          place-items: flex-end;
          font-size: 20px;
          color: #353F4B;
          margin: 30px 0 20px;
          width: 100%; }
        .live-match-page__content__tab .tab-content .match-right-item__action {
          display: flex;
          place-content: space-between;
          place-items: center;
          width: 100%; }
          .live-match-page__content__tab .tab-content .match-right-item__action .btn {
            padding: 0;
            min-width: initial; }
          .live-match-page__content__tab .tab-content .match-right-item__action .btn-watch {
            display: flex;
            place-content: center;
            place-items: center; }
            .live-match-page__content__tab .tab-content .match-right-item__action .btn-watch .icon {
              box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
              background: #FFFFFF 0% 0% no-repeat padding-box;
              width: 60px;
              height: 60px;
              display: inline-block;
              border-radius: 50%;
              display: flex;
              place-content: center;
              place-items: center;
              z-index: 2; }
              .live-match-page__content__tab .tab-content .match-right-item__action .btn-watch .icon img {
                width: 25px; }
            .live-match-page__content__tab .tab-content .match-right-item__action .btn-watch .text {
              background-color: #5393FB;
              color: #fff;
              min-height: 40px;
              border-top-right-radius: 20px;
              border-bottom-right-radius: 20px;
              display: flex;
              place-content: center;
              place-items: center;
              min-width: 150px;
              margin-left: -20px;
              font-size: 16px; }
          .live-match-page__content__tab .tab-content .match-right-item__action .btn-next img {
            width: 40px; }
