.rewards-block {
  padding-bottom: 300px;
  background-size: 100%;
  background-repeat: repeat-y;
  background-image: url(../images/rewards/bg.png); }
  .rewards-block__content {
    padding: 30px 0;
    position: relative; }
  .rewards-block .block-content {
    border-radius: 20px;
    background: #fff;
    border: 1px solid #e0e7fa;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 30px;
    height: 100%; }
    .rewards-block .block-content.text h3 {
      color: #fcb33c;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 20px; }
    .rewards-block .block-content.text .title {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 18px; }

.rewards-page__top-banner {
  border-bottom: 50px solid #636c82; }
  .rewards-page__top-banner img {
    width: 100%; }

.rewards-block__content__card {
  padding: 20px;
  background-color: rgba(218, 230, 254, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 10px 3px #d2e0fe;
  -webkit-box-shadow: 0px 0px 10px 3px #d2e0fe;
  -moz-box-shadow: 0px 0px 10px 3px #d2e0fe;
  border-radius: 30px;
  margin-bottom: 50px;
  position: relative; }
  .rewards-block__content__card.style3, .rewards-block__content__card.style2 {
    background: linear-gradient(180deg, #e9f2ff 0%, #eef4fd 50%, #f5f7fa 100%);
    box-shadow: 0px 10px 10px 3px #d2e0fe;
    -webkit-box-shadow: 0px 10px 10px 3px #d2e0fe;
    -moz-box-shadow: 0px 10px 10px 3px #d2e0fe; }
    .rewards-block__content__card.style3 .rewards-block__content__card__content, .rewards-block__content__card.style2 .rewards-block__content__card__content {
      border: none;
      background-color: transparent !important;
      padding: 0; }
    .rewards-block__content__card.style3::after, .rewards-block__content__card.style2::after {
      content: "";
      position: absolute;
      height: 22px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-bottom: 8px solid #b4d1ff;
      left: 0px;
      right: 0px;
      bottom: 0px; }
  .rewards-block__content__card.style3 {
    background: linear-gradient(180deg, #baceed 0%, #d5e1f3 50%, #f5f7fa 100%);
    border: 1px solid rgba(255, 255, 255, 0.5); }
    .rewards-block__content__card.style3::after {
      border-bottom-width: 15px; }
  .rewards-block__content__card__content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #8ab5f3;
    border-radius: 20px; }
    .rewards-block__content__card__content .content {
      min-height: 400px; }
    .rewards-block__content__card__content__title {
      font-size: 45px;
      color: #fff;
      text-align: center;
      background: linear-gradient(90deg, #005ad4 0%, #2374e9 51%, #4d90ff 100%);
      border-radius: 10px;
      height: 80px;
      display: flex;
      place-content: center;
      place-items: center;
      text-transform: uppercase;
      font-weight: bold;
      position: relative; }
      .rewards-block__content__card__content__title::before, .rewards-block__content__card__content__title::after {
        content: "";
        position: absolute;
        background-image: url(../images/rewards/card-title-vector.png);
        width: 15px;
        height: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; }
      .rewards-block__content__card__content__title::before {
        left: 20px; }
      .rewards-block__content__card__content__title::after {
        right: 20px; }
      .rewards-block__content__card__content__title > span {
        position: relative; }
        .rewards-block__content__card__content__title > span::before, .rewards-block__content__card__content__title > span::after {
          content: "";
          position: absolute;
          width: 70px;
          height: 25px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          top: -5px; }
        .rewards-block__content__card__content__title > span::before {
          left: -100px;
          background-image: url(../images/rewards/card-title-vector-left.png); }
        .rewards-block__content__card__content__title > span::after {
          right: -100px;
          background-image: url(../images/rewards/card-title-vector-right.png); }
    .rewards-block__content__card__content .bottom {
      background-color: #cee1ff;
      color: #7f9fd2;
      text-align: center;
      font-size: 20px;
      text-transform: uppercase;
      padding: 15px;
      border-radius: 10px;
      display: inline-block;
      position: relative; }
      .rewards-block__content__card__content .bottom::before, .rewards-block__content__card__content .bottom::after {
        content: "";
        position: absolute;
        width: 10px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
        background-image: url(../images/rewards/reft.png); }
      .rewards-block__content__card__content .bottom::before {
        left: -25px; }
      .rewards-block__content__card__content .bottom::after {
        right: -25px; }
    .rewards-block__content__card__content .items .item {
      margin: 25px 0;
      padding: 15px;
      background-color: rgba(218, 230, 254, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 10px 3px #d2e0fe;
      -webkit-box-shadow: 0px 0px 10px 3px #d2e0fe;
      -moz-box-shadow: 0px 0px 10px 3px #d2e0fe;
      border-radius: 15px; }
      .rewards-block__content__card__content .items .item__content {
        background-color: #fff;
        border-bottom: 8px solid #d0d6fd;
        border-radius: 13px;
        box-shadow: 0px 0px 10px 3px #d2e0fe;
        -webkit-box-shadow: 0px 0px 10px 3px #d2e0fe;
        -moz-box-shadow: 0px 0px 10px 3px #d2e0fe;
        overflow: hidden; }
        .rewards-block__content__card__content .items .item__content__title {
          background-color: #7aa3f4;
          box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
          -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2);
          height: 60px;
          text-align: center;
          font-size: 22px;
          color: #fff;
          font-weight: bold;
          text-transform: uppercase;
          display: flex;
          place-content: center;
          place-items: center; }
          .rewards-block__content__card__content .items .item__content__title.bg-yellow {
            background-color: #ffc50b; }
        .rewards-block__content__card__content .items .item__content__img {
          margin: 15px 0;
          height: 250px;
          display: flex;
          place-content: center;
          place-items: center; }
          .rewards-block__content__card__content .items .item__content__img.full-width img {
            max-width: 100%;
            max-height: 100%;
            width: 100%;
            height: 100%; }
          .rewards-block__content__card__content .items .item__content__img img {
            max-width: 300px;
            max-height: 250px; }
        .rewards-block__content__card__content .items .item__content__des {
          text-align: center; }
          .rewards-block__content__card__content .items .item__content__des span {
            background-color: #cadaff;
            color: #1654b5;
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 15px 30px;
            border-radius: 25px;
            display: inline-block; }
        .rewards-block__content__card__content .items .item__content__action {
          padding: 15px 0; }
          .rewards-block__content__card__content .items .item__content__action .btn {
            transition: 0.3s; }
            .rewards-block__content__card__content .items .item__content__action .btn:hover {
              opacity: 0.8 !important; }
