<div id="carouselTop" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselTop" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/home/slider/1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/slider/2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/images/home/slider/3.png" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="home-page__notification">
  <div class="container notification">
    <img src="assets/icons/notification.svg" />
    <div class="text-animated">
      <span class="text-overflow" data-i18n="index.notification_run"></span>
    </div>
  </div>
</div>

<div class="home-page__content">
  <div class="home-page__content__fc container">
    <div class="row ms-0 me-0">
      <a href="/sponsor-juventus.html" class="col-4 p-0 pe-1" data-i18n="home_fc_img_1"></a>
      <a href="/sponsor-leicester.html" class="col-4 p-0 ps-1" data-i18n="home_fc_img_3"></a>
      <a href="/sponsor-aston-villa.html" class="col-4 p-0 ps-1" data-i18n="home_fc_img_2"></a>
    </div>
  </div>
  
  <div class="home-page__content__exciting_game">
    <div class="title"><span data-i18n="home-page.EXCITING_GAMES"></span></div>
    <h5 class="subtitle" data-i18n="home-page.EXCITING_GAMES_des"></h5>
    <div class="home-page__content__exciting_game__content container">
      <div id="carouselExcitingGame" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExcitingGame" data-bs-slide-to="0" class="active" aria-label="Slide 1">
            <span data-i18n="home-page.EXCITING_GAMES_slider.Sports_Events1"></span>
            <img class="default" src="assets/images/home/exciting-game/nav/1.png" />
            <img class="focus" src="assets/images/home/exciting-game/nav/1-active.png" />
          </button>
          <button type="button" data-bs-target="#carouselExcitingGame" data-bs-slide-to="1" aria-label="Slide 2">
            <span data-i18n="home-page.EXCITING_GAMES_slider.Live_Casino1"></span>
            <img class="default" src="assets/images/home/exciting-game/nav/2.png" />
            <img class="focus" src="assets/images/home/exciting-game/nav/2-active.png" />
          </button>
          <button type="button" data-bs-target="#carouselExcitingGame" data-bs-slide-to="2" aria-label="Slide 3">
            <span data-i18n="home-page.EXCITING_GAMES_slider.Slot_Machines1"></span>
            <img class="default" src="assets/images/home/exciting-game/nav/3.png" />
            <img class="focus" src="assets/images/home/exciting-game/nav/3-active.png" />
          </button>
          <button type="button" data-bs-target="#carouselExcitingGame" data-bs-slide-to="3" aria-label="Slide 4">
            <span data-i18n="home-page.EXCITING_GAMES_slider.Fishing_Game1"></span>
            <img class="default" src="assets/images/home/exciting-game/nav/4.png" />
            <img class="focus" src="assets/images/home/exciting-game/nav/4-active.png" />
          </button>
          <button type="button" data-bs-target="#carouselExcitingGame" data-bs-slide-to="4" aria-label="Slide 5">
            <span data-i18n="home-page.EXCITING_GAMES_slider.E_Sports1"></span>
            <img class="default" src="assets/images/home/exciting-game/nav/5.png" />
            <img class="focus" src="assets/images/home/exciting-game/nav/5-active.png" />
          </button>
          <button type="button" data-bs-target="#carouselExcitingGame" data-bs-slide-to="5" aria-label="Slide 6">
            <span data-i18n="home-page.EXCITING_GAMES_slider.Lottery_Game1"></span>
            <img class="default" src="assets/images/home/exciting-game/nav/6.png" />
            <img class="focus" src="assets/images/home/exciting-game/nav/6-active.png" />
          </button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/home/exciting-game/slider/1.png" class="d-block w-100" alt="...">
            <div class="button-group">
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.SABA"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.CMD"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.M8"></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/home/exciting-game/slider/2.png" class="d-block w-100" alt="...">
            <div class="button-group">
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.EVO"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.PLAYTECH"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.SEXY"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.DREAM_GAMING"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.EZUQI"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.AG"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.PP"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.SA"></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/home/exciting-game/slider/3.png" class="d-block w-100" alt="...">
            <div class="button-group">
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.PP"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.PT"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.SPADE"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.HABANERO"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.ONE_GAME"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.CQ"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.RED_TIGER"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.MEGA"></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/home/exciting-game/slider/4.png" class="d-block w-100" alt="...">
            <div class="button-group">
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.FISHNG_GOD"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.FISHING_WAR"></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/home/exciting-game/slider/5.png" class="d-block w-100" alt="...">
            <div class="button-group">
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.TF_GAMING"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.IM"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.CMD"></button>
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.SABA"></button>
            </div>
          </div>
          <div class="carousel-item">
            <img src="assets/images/home/exciting-game/slider/6.png" class="d-block w-100" alt="...">
            <div class="button-group">
              <button class="btn btn-primary" data-i18n="home-page.EXCITING_GAMES_slider.PLAY_NOW"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-page__content__why_choose_us">
    <div class="title"><span data-i18n="home-page.WHY_CHOOSE_US"></span></div>
    <h5 class="subtitle" data-i18n="home-page.WHY_CHOOSE_US_des"></h5>
    <div class="home-page__content__why_choose_us__content container">
      <div class="row">
        <div class="col-3">
          <div class="item">
            <div class="img">
              <img src="assets/images/home/why-choose-us/1.png" />
            </div>
            <div class="title" data-i18n="home-page.why_choose_us_page.title1"></div>
            <div class="description" data-i18n="home-page.why_choose_us_page.description1"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="item">
            <div class="img">
              <img src="assets/images/home/why-choose-us/2.png" />
            </div>
            <div class="title" data-i18n="home-page.why_choose_us_page.title2"></div>
            <div class="description" data-i18n="home-page.why_choose_us_page.description2"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="item">
            <div class="img">
              <img src="assets/images/home/why-choose-us/3.png" />
            </div>
            <div class="title" data-i18n="home-page.why_choose_us_page.title3"></div>
            <div class="description" data-i18n="home-page.why_choose_us_page.description3"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="item">
            <div class="img">
              <img src="assets/images/home/why-choose-us/4.png" />
            </div>
            <div class="title" data-i18n="home-page.why_choose_us_page.title4"></div>
            <div class="description" data-i18n="home-page.why_choose_us_page.description4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
