<!-- Modal -->
<div class="modal fade modal-custom" id="customerAnnoucementImage" tabindex="-1" aria-labelledby="selectLanguageLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close opacity-0" data-bs-dismiss="modal" aria-label="Close"></button>
        <h5 class="modal-title" id="selectLanguageLabel" data-i18n="customer_annoucement_header"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mx-auto text-center mb-3">
          <img src="https://placehold.co/400x400" class="mx-auto mw-auto image-content" />
        </div>
        <div class="pt-3 text-center">
          <button class="btn btn-lg btn-primary px-5" data-bs-dismiss="modal" data-i18n="OK"></button>
        </div>
      </div>
    </div>
  </div>
</div>