<div class="row align-items-center mb-5">
  <div class="col-4">
    <div class="match-left-item">
      <div class="match-left-item__title" data-i18n="live_match_page.UEFA_CL"></div>
      <div class="match-left-item__match">
        <span data-i18n="live_match_page.AC_MILAN"></span>
        <span data-i18n="live_match_page.AC_MILAN"></span>
      </div>
      <div class="match-left-item__time">2023-04-15 3:00AM</div>
      <div class="match-left-item__action">
        <button class="btn btn-watch">
          <span class="icon"><img src="assets/images/live-match/watch.png" /></span>
          <span class="text" data-i18n="live_match_page.Watch_Live"></span>
        </button>
        <button class="btn btn-next">
          <img src="assets/images/live-match/next.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="match-right-item">
      <div class="match-right-item__title">
        <span class="match-right-item__title__btn" data-i18n="live_match_page.UEFA_CL"></span>
        <span class="match-right-item__title__time"></span>
      </div>
      <div class="match-right-item__match">
        <span data-i18n="live_match_page.AC_MILAN"></span>
        <span class="time">11:20:12</span>
        <span data-i18n="live_match_page.AC_MILAN"></span>
      </div>
      <div class="match-right-item__action">
        <button class="btn btn-watch">
          <span class="icon"><img src="assets/images/live-match/watch.png" /></span>
          <span class="text" data-i18n="live_match_page.Watch_Live"></span>
        </button>
        <button class="btn btn-next">
          <img src="assets/images/live-match/next.png" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center mb-5">
  <div class="col-4">
    <div class="match-left-item">
      <div class="match-left-item__title" data-i18n="live_match_page.UEFA_CL"></div>
      <div class="match-left-item__match">
        <span data-i18n="live_match_page.AC_MILAN"></span>
        <span data-i18n="live_match_page.AC_MILAN"></span>
      </div>
      <div class="match-left-item__time">2023-04-15 3:00AM</div>
      <div class="match-left-item__action">
        <button class="btn btn-watch">
          <span class="icon"><img src="assets/images/live-match/watch.png" /></span>
          <span class="text" data-i18n="live_match_page.Watch_Live"></span>
        </button>
        <button class="btn btn-next">
          <img src="assets/images/live-match/next.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="match-right-item">
      <div class="match-right-item__title">
        <span class="match-right-item__title__btn" data-i18n="live_match_page.UEFA_CL"></span>
        <span class="match-right-item__title__time"></span>
      </div>
      <div class="match-right-item__match">
        <span data-i18n="live_match_page.AC_MILAN"></span>
        <span class="time">11:20:12</span>
        <span data-i18n="live_match_page.AC_MILAN"></span>
      </div>
      <div class="match-right-item__action">
        <button class="btn btn-watch">
          <span class="icon"><img src="assets/images/live-match/watch.png" /></span>
          <span class="text" data-i18n="live_match_page.Watch_Live"></span>
        </button>
        <button class="btn btn-next">
          <img src="assets/images/live-match/next.png" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row align-items-center mb-5">
  <div class="col-4">
    <div class="match-left-item">
      <div class="match-left-item__title" data-i18n="live_match_page.UEFA_CL"></div>
      <div class="match-left-item__match">
        <span data-i18n="live_match_page.AC_MILAN"></span>
        <span data-i18n="live_match_page.AC_MILAN"></span>
      </div>
      <div class="match-left-item__time">2023-04-15 3:00AM</div>
      <div class="match-left-item__action">
        <button class="btn btn-watch">
          <span class="icon"><img src="assets/images/live-match/watch.png" /></span>
          <span class="text" data-i18n="live_match_page.Watch_Live"></span>
        </button>
        <button class="btn btn-next">
          <img src="assets/images/live-match/next.png" />
        </button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="match-right-item">
      <div class="match-right-item__title">
        <span class="match-right-item__title__btn" data-i18n="live_match_page.UEFA_CL"></span>
        <span class="match-right-item__title__time"></span>
      </div>
      <div class="match-right-item__match">
        <span data-i18n="live_match_page.AC_MILAN"></span>
        <span class="time">11:20:12</span>
        <span data-i18n="live_match_page.AC_MILAN"></span>
      </div>
      <div class="match-right-item__action">
        <button class="btn btn-watch">
          <span class="icon"><img src="assets/images/live-match/watch.png" /></span>
          <span class="text" data-i18n="live_match_page.Watch_Live"></span>
        </button>
        <button class="btn btn-next">
          <img src="assets/images/live-match/next.png" />
        </button>
      </div>
    </div>
  </div>
</div>