<!-- Modal -->
<div
  class="modal fade alert"
  id="claimSuccessModal"
  tabindex="-1"
  aria-labelledby="claimSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5
          class="text-center mb-3"
          id="claimSuccessModalLabel"
          data-i18n="bonus_history_page.CLAIM_SUCCESSFUL"
        >
        </h5>
        <div class="text-center mb-4" data-i18n="bonus_history_page.claim_success_notification">
          Your transfer request has been completed. Kindly check the Transaction
          History page for more details
        </div>
        <button class="btn btn-primary" data-bs-dismiss="modal" data-i18n="bonus_history_page.ok">OK</button>
      </div>
    </div>
  </div>
</div>
