<div class="e-sports-page__container container">
  <div id="carouselESports" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators-container">
      <div class="carousel-indicators">
        <div class="row justify-content-end">
          <div class="col-6">
            <div class="action">
              <button type="button" data-bs-target="#carouselESports" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                <img class="img-default" src="assets/images/LOGO/TF-g.png" />
                <img class="img-active" src="assets/images/LOGO/TF-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselESports" data-bs-slide-to="1" aria-label="Slide 2">
                <img class="img-default" src="assets/images/LOGO/SABA-g.png" />
                <img class="img-active" src="assets/images/LOGO/SABA-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselESports" data-bs-slide-to="2" aria-label="Slide 3">
                <img class="img-default" src="assets/images/LOGO/CMD368-g.png" />
                <img class="img-active" src="assets/images/LOGO/CMD368-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselESports" data-bs-slide-to="3" aria-label="Slide 4">
                <img class="img-default" src="assets/images/LOGO/inplay-g.png" />
                <img class="img-active" src="assets/images/LOGO/inplay-w.png" />
              </button>
            </div>
            <a class="playnow" href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row align-items-center gx-5">
          <div class="col-6 left-img">
            <img class="team" src="assets/images/PAGE/ESPORT/TFGAMING2.png" />
          </div>
          <div class="col-6 content">
            <img class="logo" src="assets/images/PAGE/ESPORT/Terxt-11.png" />
            <div class="official" data-i18n="ESPORTPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="ESPORTPAGE.DESCRIPTION_1"></div>
            <img class="icon" src="assets/images/PAGE/ESPORT/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-6 left-img">
            <img class="team" src="assets/images/PAGE/ESPORT/SABAEsport2.png" />
          </div>
          <div class="col-6 content">
            <img class="logo" src="assets/images/PAGE/ESPORT/Terxt-09.png" />
            <div class="official" data-i18n="ESPORTPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="ESPORTPAGE.DESCRIPTION_2"></div>
            <img class="icon" src="assets/images/PAGE/ESPORT/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-6 left-img">
            <img class="team" src="assets/images/PAGE/ESPORT/CMD368esport2.png" />
          </div>
          <div class="col-6 content">
            <img class="logo" src="assets/images/PAGE/ESPORT/Terxt-08.png" />
            <div class="official" data-i18n="ESPORTPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="ESPORTPAGE.DESCRIPTION_3"></div>
            <img class="icon" src="assets/images/PAGE/ESPORT/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-6 left-img">
            <img class="team" src="assets/images/PAGE/ESPORT/inplayesport2.png" />
          </div>
          <div class="col-6 content">
            <img class="logo" src="assets/images/PAGE/ESPORT/Terxt-11.png" />
            <div class="official" data-i18n="ESPORTPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="ESPORTPAGE.DESCRIPTION_4"></div>
            <img class="icon" src="assets/images/PAGE/ESPORT/icons.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>