<!-- Modal -->
<div
  class="modal fade alert"
  id="incorrectEmailModal"
  tabindex="-1"
  aria-labelledby="incorrectEmailModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5
          class="text-center mb-3"
          id="incorrectEmailModalLabel"
          data-i18n="forget_password_page.EMAIL_ADDRESS_NOT_FOUND"
        ></h5>
        <div class="text-center mb-3" data-i18n="forget_password_page.Please_contact_customer"></div>
        <button class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
