
<!-- Modal -->
<div class="modal fade modal-custom" id="inboxDetailModal" tabindex="-1" aria-labelledby="inboxDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h5 class="modal-title" id="selectPromotionModalLabel" data-i18n="inbox_page.title1"></h5>
          <div class="mt-2 text-start">2022-03-14 10:30:35</div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body add-bank-modal">
        
        <p class="" data-i18n="inbox_page.description1"></p>
        <p class="" data-i18n="inbox_page.description1"></p>
        <p class="" data-i18n="inbox_page.description1"></p>

        <div class="action">
          <button class="btn btn-default" data-i18n="Previous_Message" disabled></button>
          <button class="btn btn-default" data-i18n="Next_Message" disabled></button>
          <!-- <button class="btn btn-primary" data-bs-dismiss="modal" data-i18n="SUBMIT"></button> -->
          <!-- <div class="__submit">
            <a href="/withdrawal-existing-user.html" class="btn btn-primary" role="button" data-i18n="SUBMIT"></a>
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>