<div class="live-casino-page__container">
  <div id="carouselLiveCasino" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators-container container">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" >
          <span data-i18n="live_casino_page.title1"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="1" aria-label="Slide 2">
          <span data-i18n="live_casino_page.title2"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="2" aria-label="Slide 3">
          <span data-i18n="live_casino_page.title3"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="3" aria-label="Slide 4">
          <span data-i18n="live_casino_page.title4"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="4" aria-label="Slide 5">
          <span data-i18n="live_casino_page.title5"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="5" aria-label="Slide 6">
          <span data-i18n="live_casino_page.title6"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="6" aria-label="Slide 7">
          <span data-i18n="live_casino_page.title7"></span>
        </button>
        <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="7" aria-label="Slide 8">
          <span data-i18n="live_casino_page.title8"></span>
        </button>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/1.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title1"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description1"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/2.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title2"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description2"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/3.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title3"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description3"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/4.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title4"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description4"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/5.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title5"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description5"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/6.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title6"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description6"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img PRAGMATIC_PLAY" src="assets/images/live-casino/7.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title7"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description7"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="sports-img">
          <img class="sports-img" src="assets/images/live-casino/8.png" />
        </div>
        <div class="sports-item-container container">
          <div class="row sports-item">
            <div class="col-4 sports-item__content">
              <div class="sports-item__content__title" data-i18n="live_casino_page.title8"></div>
              <div class="sports-item__content__description" data-i18n="live_casino_page.description8"></div>
              <div class="sports-item__content__action">
                <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>