<div class="live-casino-page__container container">
  <div id="carouselLiveCasino" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators-container container">
      <div class="carousel-indicators">
        <div class="row justify-content-end">
          <div class="col-5 ps-0">
            <div class="action">
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" >
                <img class="img-default" src="assets/images/LOGO/evolution-g.png" />
                <img class="img-active" src="assets/images/LOGO/evolution-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="1" aria-label="Slide 2">
                <img class="img-default" src="assets/images/LOGO/Ezugi-g.png" />
                <img class="img-active" src="assets/images/LOGO/Ezugi-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="2" aria-label="Slide 3">
                <img class="img-default" src="assets/images/LOGO/pragmatic-g.png" />
                <img class="img-active" src="assets/images/LOGO/pragmatic-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="3" aria-label="Slide 4">
                <img class="img-default" src="assets/images/LOGO/playtech-g.png" />
                <img class="img-active" src="assets/images/LOGO/playtech-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="4" aria-label="Slide 5">
                <img class="img-default" src="assets/images/LOGO/Sexy-g.png" />
                <img class="img-active" src="assets/images/LOGO/Sexy-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="5" aria-label="Slide 6">
                <img class="img-default" src="assets/images/LOGO/Dream-g.png" />
                <img class="img-active" src="assets/images/LOGO/Dream-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="6" aria-label="Slide 7">
                <img class="img-default" src="assets/images/LOGO/Asia-g.png" />
                <img class="img-active" src="assets/images/LOGO/Asia-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="7" aria-label="Slide 8">
                <img class="img-default" src="assets/images/LOGO/sa2-g.png" />
                <img class="img-active" src="assets/images/LOGO/sa2-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselLiveCasino" data-bs-slide-to="8" aria-label="Slide 9">
                <img class="img-default" src="assets/images/LOGO/winfinty-g.png" />
                <img class="img-active" src="assets/images/LOGO/winfinty-w.png" />
              </button>
            </div>
            <a class="playnow" href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/EVOLUTION.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/1.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/5.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-07.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_1"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/EZUGI.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/5.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/1.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-07.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_2"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/PP.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/2.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/4.png" />
          </div>
          <div class="col-5 content">
            <img class="logo w-100 mw-100" src="assets/images/PAGE/CASINO/Terxt-01.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_3"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/PLAYTECH.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/1.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/3.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-02.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_4"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/SEXY.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/2.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/6.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-03.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_5"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/DG.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/3.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/1.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-04.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_6"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/AG.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/4.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/1.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-05.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_7"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/SA.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/2.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/4.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-06.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_8"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="team" src="assets/images/PAGE/CASINO/WINFINITY.png" />
            <img class="bg bg1" src="assets/images/PAGE/CASINO/3.png" />
            <img class="bg bg2" src="assets/images/PAGE/CASINO/6.png" />
          </div>
          <div class="col-5 content">
            <img class="logo" src="assets/images/PAGE/CASINO/Terxt-07.png" />
            <div class="official" data-i18n="CASINOPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="CASINOPAGE.DESCRIPTION_9"></div>
            <img class="icon" src="assets/images/PAGE/CASINO/icons.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>