<!-- Modal -->
<div
  class="modal fade alert"
  id="passwordUpdateSuccessModal"
  tabindex="-1"
  aria-labelledby="passwordUpdateSuccessModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h5 class="text-center mb-3" id="passwordUpdateSuccessModalLabel" data-i18n="PASSWORD_CHANGED"></h5>
        <div class="text-center mb-3" data-i18n="password_update_success_modal"></div>
        <a href="/login.html" class="btn btn-primary">OK</a>
        <!-- <button class="btn btn-primary" data-bs-dismiss="modal">OK</button> -->
      </div>
    </div>
  </div>
</div>
