
<!-- Modal -->
<div class="modal fade slide-up" id="selectBankModal" tabindex="-1" aria-labelledby="selectBankModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <a href="#"  data-bs-dismiss="modal" aria-label="Close" data-i18n="Cancel"></a>
        <h5 class="modal-title" id="selectBankModalLabel" data-i18n="Select_Bank"></h5>
        <a href="#" class="opacity-0" data-bs-dismiss="modal" aria-label="Close" data-i18n="Cancel"></a>
      </div>
      <div class="modal-body select-bank-modal">
        <label class="select-bank-modal__items">
          <div class="select-bank-modal__items__img"><img src="assets/images/wallet/bank/maybank.png" /></div>
          <div class="select-bank-modal__items__content">MAYBANK</div>
          <input type="radio" name="select-bank-modal-radio" value="MAYBANK" class="d-none"/>
        </label>
        <label class="select-bank-modal__items">
          <div class="select-bank-modal__items__img"><img src="assets/images/wallet/bank/CIMB-bank.png" /></div>
          <div class="select-bank-modal__items__content">CIMB BANK</div>
          <input type="radio" name="select-bank-modal-radio" value="CIMB BANK" class="d-none"/>
        </label>
        <label class="select-bank-modal__items">
          <div class="select-bank-modal__items__img"><img src="assets/images/wallet/bank/RHB-bank.png" /></div>
          <div class="select-bank-modal__items__content">RHB BANK</div>
          <input type="radio" name="select-bank-modal-radio" value="RHB BANK" class="d-none"/>
        </label>
        <label class="select-bank-modal__items">
          <div class="select-bank-modal__items__img"><img src="assets/images/wallet/bank/UOB-bank.png" /></div>
          <div class="select-bank-modal__items__content">UOB BANK</div>
          <input type="radio" name="select-bank-modal-radio" value="UOB BANK" class="d-none"/>
        </label>
        <label class="select-bank-modal__items">
          <div class="select-bank-modal__items__img"><img src="assets/images/wallet/bank/hong-leong.png" /></div>
          <div class="select-bank-modal__items__content">HONG LEONG BANK</div>
          <input type="radio" name="select-bank-modal-radio" value="HONG LEONG BANK" class="d-none"/>
        </label>
        <label class="select-bank-modal__items">
          <div class="select-bank-modal__items__img"><img src="assets/images/wallet/bank/SCB.png" /></div>
          <div class="select-bank-modal__items__content">STANDARD CHARTERED BANK</div>
          <input type="radio" name="select-bank-modal-radio" value="STANDARD CHARTERED BANK" class="d-none"/>
        </label>

      </div>
    </div>
  </div>
</div>