<div class="row select-bank">
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/maybank.png" />
      </div>
      <div class="select-bank__item__label__title">Maybank</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="selectBank" checked="checked"/>
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/CIMB-bank.png" />
      </div>
      <div class="select-bank__item__label__title">CIMB Bank</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="selectBank" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/RHB-bank.png" />
      </div>
      <div class="select-bank__item__label__title">RHB Bank</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="selectBank" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/UOB-bank.png" />
      </div>
      <div class="select-bank__item__label__title">UOB Bank</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="selectBank" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/hong-leong.png" />
      </div>
      <div class="select-bank__item__label__title">Hong Leong</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="selectBank" />
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="col-3 select-bank__item">
    <label class="select-bank__item__label">
      <div class="select-bank__item__label__img">
        <img src="assets/images/wallet/bank/SCB.png" />
      </div>
      <div class="select-bank__item__label__title">SCB</div>
      <input class="select-bank__item__label__checkbox" type="radio" name="selectBank" />
      <span class="checkmark"></span>
    </label>
  </div>
</div>