<div class="sports-page__container container">
  <div id="carouselSports" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators-container container">
      <div class="carousel-indicators">
        <div class="row justify-content-end">
          <div class="col-5 px-0">
            <div class="action">
              <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" >
                <img class="img-default" src="assets/images/LOGO/SABA-g.png" />
                <img class="img-active" src="assets/images/LOGO/SABA-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="1" aria-label="Slide 2">
                <img class="img-default" src="assets/images/LOGO/CMD368-g.png" />
                <img class="img-active" src="assets/images/LOGO/CMD368-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="2" aria-label="Slide 3">
                <img class="img-default" src="assets/images/LOGO/M8-g.png" />
                <img class="img-active" src="assets/images/LOGO/M8-w.png" />
              </button>
              <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="3" aria-label="Slide 4">
                <img class="img-default" src="assets/images/LOGO/98-g.png" />
                <img class="img-active" src="assets/images/LOGO/98-w.png" />
              </button>
            </div>
            <a class="playnow" href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="bg" src="assets/images/PAGE/SPORTS/sports.png" />
            <img class="team" src="assets/images/PAGE/SPORTS/SABASPORT.png" />
          </div>
          <div class="col-5 content px-0">
            <img class="logo" src="assets/images/PAGE/SPORTS/1-01.png" />
            <div class="official" data-i18n="SPORTSPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="SPORTSPAGE.DESCRIPTION_1"></div>
            <img class="icon" src="assets/images/PAGE/SPORTS/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="bg" src="assets/images/PAGE/SPORTS/sports.png" />
            <img class="team" src="assets/images/PAGE/SPORTS/CMD368.png" />
          </div>
          <div class="col-5 content px-0">
            <img class="logo" src="assets/images/PAGE/SPORTS/1-03.png" />
            <div class="official" data-i18n="SPORTSPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="SPORTSPAGE.DESCRIPTION_1"></div>
            <img class="icon" src="assets/images/PAGE/SPORTS/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="bg" src="assets/images/PAGE/SPORTS/sports.png" />
            <img class="team" src="assets/images/PAGE/SPORTS/M8BET.png" />
          </div>
          <div class="col-5 content px-0">
            <img class="logo" src="assets/images/PAGE/SPORTS/1-04.png" />
            <div class="official" data-i18n="SPORTSPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="SPORTSPAGE.DESCRIPTION_3"></div>
            <img class="icon" src="assets/images/PAGE/SPORTS/icons.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row align-items-center gx-5">
          <div class="col-7 left-img">
            <img class="bg" src="assets/images/PAGE/SPORTS/sports.png" />
            <img class="team" src="assets/images/PAGE/SPORTS/98PLAY.png" />
          </div>
          <div class="col-5 content px-0">
            <img class="logo" src="assets/images/PAGE/SPORTS/1-05.png" />
            <div class="official" data-i18n="SPORTSPAGE.OFFICIAL"></div>
            <div class="text" data-i18n="SPORTSPAGE.DESCRIPTION_4"></div>
            <img class="icon" src="assets/images/PAGE/SPORTS/icons.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>