<div class="sports-page__container">
  <div id="carouselSports" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators-container container">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" >
          <span data-i18n="sports_page.title1"></span>
        </button>
        <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="1" aria-label="Slide 2">
          <span data-i18n="sports_page.title2"></span>
        </button>
        <button type="button" data-bs-target="#carouselSports" data-bs-slide-to="2" aria-label="Slide 3">
          <span data-i18n="sports_page.title3"></span>
        </button>
      </div>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active saba">
        <img class="cup" src="assets/images/sports/cup.png" />
        <img class="ball" src="assets/images/sports/ball.png" />
        <div class="row sports-item container">
          <div class="col-4 sports-item__content">
            <div class="sports-item__content__title" data-i18n="sports_page.title1"></div>
            <div class="sports-item__content__description" data-i18n="sports_page.description1"></div>
            <div class="sports-item__content__action">
              <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
            </div>
          </div>
          <div class="col-7">
            <img class="sports-img" src="assets/images/sports/1.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item cmd368">
        <img class="multiple-cup" src="assets/images/sports/multiple-cup.png" />
        <div class="row sports-item container">
          <div class="col-4 sports-item__content">
            <div class="sports-item__content__title" data-i18n="sports_page.title2"></div>
            <div class="sports-item__content__description" data-i18n="sports_page.description2"></div>
            <div class="sports-item__content__action">
              <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
            </div>
          </div>
          <div class="col-7">
            <img class="sports-img" src="assets/images/sports/2.png" />
          </div>
        </div>
      </div>
      <div class="carousel-item m8bet">
        <img class="multiple-cup" src="assets/images/sports/multiple-cup.png" />
        <img class="ball" src="assets/images/sports/ball.png" />
        <div class="row sports-item container">
          <div class="col-4 sports-item__content">
            <div class="sports-item__content__title" data-i18n="sports_page.title3"></div>
            <div class="sports-item__content__description" data-i18n="sports_page.description3"></div>
            <div class="sports-item__content__action">
              <a href="/product-under-maintenance.html" data-i18n="PLAY_NOW"></a>
            </div>
          </div>
          <div class="col-7">
            <img class="sports-img" src="assets/images/sports/3.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>