<div class="col-lg-6 col-md-12 col-sm-12">
  <div class="news-item">
    <div class="thumb-wrapper">
      <img
        width="360"
        height="200"
        src="@@img"
        class="attachment-post-sm size-post-sm wp-post-image entered lazyloaded"
        alt=""
      />
    </div>
    <div class="new-text-group">
      <div class="news-info clearfix">
        @@category <span class="pull-right">@@date</span>
      </div>
      <h2>
        <a
          href="/blog-detail.html"
          >@@title</a
        >
      </h2>
      <p>
        @@description
      </p>
      <a
        href="/blog-detail.html"
        class="read-more"
        >
        read more >
      </a>
    </div>
    <!-- /.news-text -->
  </div>
  <!-- /.news-item -->
</div>
