<div class="row promotion-items">
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon new"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/1.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title1"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description1"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon limited"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/2.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title2"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description2"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon limited"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/3.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title3"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description3"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon new"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/4.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title4"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description4"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon daily"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/5.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title5"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description5"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon new"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/6.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title6"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description6"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon daily"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/7.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title7"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description7"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon vip"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/8.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title8"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description8"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="promotion-items__content">
      <span class="promotion-items__content__icon new"></span>
      <img class="promotion-items__content__img" src="assets/images/promotion/9.png" />
      <div class="promotion-items__content__text">
        <div>
          <div class="promotion-items__content__text__title" data-i18n="promotion_home_page.title9"></div>
          <div class="promotion-items__content__text__description" data-i18n="promotion_home_page.description9"></div>
        </div>
        <div class="promotion-items__content__text__btn">
          <a href="/promotion-detail.html" class="btn btn-primary" data-i18n="lean_more"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="paginations mt-4 mb-3">
  <button class="paginations__item btn">
    <img src="assets/images/slots/pre.png" />
  </button>
  <button class="paginations__item btn">1</button>
  <button class="paginations__item btn">2</button>
  <button class="paginations__item btn">3</button>
  <button class="paginations__item btn">
    <img src="assets/images/slots/next.png" />
  </button>
</div>