<div class="promotion-inside-content">
  <div class="promotion-inside-content__img">
    <img src="assets/images/promotion/inside/top-banner.png" />
  </div>
  <div class="promotion-inside-content__text">
    <p data-i18n="promotion_home_page.promotion_inside_description1"></p>
    <p data-i18n="promotion_home_page.promotion_inside_description2"></p>
    <div data-i18n="promotion_home_page.promotion_inside_description3"></div>
    <p data-i18n="promotion_home_page.promotion_inside_description4"></p>
    <p data-i18n="promotion_home_page.promotion_inside_description5"></p>
  </div>
</div>