<div class="modal fade event-detail" id="eventDetail1Modal" tabindex="-1" aria-labelledby="eventDetail1ModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-content-all">
        <div class="modal-header">
          <button type="button" class="btn" data-bs-dismiss="modal">
            <img src="assets/images/world-cup/close.png" />
          </button>
        </div>
        <div class="modal-body">
          <section data-i18n="euro_page.event_detail1"></section>
        </div>
      </div>
    </div>
  </div>
</div>