<div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-transparent border-0">
      <div class="modal-content-all">
        <div class="modal-body">
          <div class="block-container bg-white d-block text-center">
            <div class="py-5" data-i18n="euro_page.submit_popup"></div>
            <button type="button" class="btn btn-primary mb-3" data-bs-dismiss="modal" data-i18n="euro_page.ok"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>