<div class="block-title" data-i18n="euro_page.PROMOTION"></div>

<div role="button" data-bs-toggle="modal" data-bs-target="#eventDetail1Modal" class="block-content-no-style" data-i18n="euro_page.PROMOTION1"></div>
<div role="button" data-bs-toggle="modal" data-bs-target="#eventDetail2Modal" class="block-content-no-style" data-i18n="euro_page.PROMOTION2"></div>
<div role="button" data-bs-toggle="modal" data-bs-target="#eventDetail3Modal" class="block-content-no-style" data-i18n="euro_page.PROMOTION3"></div>
<div role="button" data-bs-toggle="modal" data-bs-target="#eventDetail4Modal" class="block-content-no-style" data-i18n="euro_page.PROMOTION4"></div>
<div role="button" data-bs-toggle="modal" data-bs-target="#eventDetail5Modal" class="block-content-no-style" data-i18n="euro_page.PROMOTION5"></div>


<!-- modal -->
@@include('./event-detail1-modal.html')
@@include('./event-detail2-modal.html')
@@include('./event-detail3-modal.html')
@@include('./event-detail4-modal.html')
@@include('./event-detail5-modal.html')
<!-- modal -->