<div class="block-container">
  <div class="block-content blue-border">
    <div class="match-title" data-i18n="euro_page.match_title"></div>
    <div class="match-date" data-i18n="euro_page.match_date"></div>
    <div class="match-container">
      <div class="match-item">
        <div class="match-flag"></div>
        <div class="match-name"></div>
      </div>
      <div class="vs" data-i18n="euro_page.VS"></div>
      <div class="match-item">
        <div class="match-flag"></div>
        <div class="match-name"></div>
      </div>
    </div>
    <div class="match-submit" data-i18n="euro_page.submit_btn"></div>
  </div>
</div>

<div class="block-container">
  <div class="block-content">
    <div data-i18n="euro_page.match_flag"></div>
  </div>
</div>

<div class="block-container">
  <div class="block-content term-container">
    <div class="term-title" data-i18n="world_up_page.Term_Conditions"></div>
    <div class="term-content">
     
    </div>
  </div>
</div>
