<div class="block-container penalty-container blue-bg">
  <div class="block-content">
    <div class="penalty-player">
      <div class="play-now__ticker_remaining">
        <span class="text" data-i18n="world_up_page.ticket_remaining"></span>
        <span class="number">9</span>
      </div>
      <img class="play-now__world-cup-logo" src="assets/images/euro/penalty/logo.png" />    
    </div>
    <div role="button" class="penalty-how-to-play" data-i18n="euro_page.how_to_play" data-bs-toggle="modal" data-bs-target="#howToPlayModal"></div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-12 mb-4">
    <div class="block-container blue-bg">
      <div class="block-content prize-container">
        <div class="prize-title" data-i18n="world_up_page.YOUR_PRIZE_HISTORY"></div>
        <div class="prize-content"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-12 mb-4">
    <div class="block-container blue-bg">
      <div class="block-content prize-container">
        <div class="prize-title" data-i18n="euro_page.PENALTY_T_C"></div>
        <section class="prize-content" data-i18n="euro_page.prize_content"></section>
      </div>
    </div>
  </div>
</div>

<!-- how to play modal -->
@@include('./how-to-play-modal.html')
<!-- how to play modal -->