<div class="vip-cash-rebate-content">
  <div class="vip-cash-rebate-content__title" data-i18n="vip_page.VIP_Weekly_Angpow1"></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" data-i18n="vip_detail_page.VIP_Level"></th>
        <th scope="col" data-i18n="vip_detail_page.vip0"></th>
        <th scope="col" data-i18n="vip_detail_page.vip1" class="active"></th>
        <th scope="col" data-i18n="vip_detail_page.vip2"></th>
        <th scope="col" data-i18n="vip_detail_page.vip3"></th>
        <th scope="col" data-i18n="vip_detail_page.vip4"></th>
        <th scope="col" data-i18n="vip_detail_page.vip5"></th>
        <th scope="col" data-i18n="vip_detail_page.vip6"></th>
        <th scope="col" data-i18n="vip_detail_page.vip7"></th>
        <th scope="col" data-i18n="vip_detail_page.vip8"></th>
        <th scope="col" data-i18n="vip_detail_page.vip9"></th>
        <th scope="col" data-i18n="vip_detail_page.vip10"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" data-i18n="vip_page.Weekly_turnover_requirement"></th>
        <td>1,000</td>
        <td class="active">1,000</td>
        <td>3,000</td>
        <td>6,000</td>
        <td>10,000</td>
        <td>30,000</td>
        <td>50,000</td>
        <td>100,000</td>
        <td>300,000</td>
        <td>500,000</td>
        <td>700,000</td>
      </tr>
      <tr>
        <th scope="row" data-i18n="vip_page.VIP_Weekly_Angpow_Bonus"></th>
        <td>MYR 0</td>
        <td class="active">MYR 8</td>
        <td>MYR 18</td>
        <td>MYR 38</td>
        <td>MYR 88</td>
        <td>MYR 188</td>
        <td>MYR 388</td>
        <td>MYR 688</td>
        <td>MYR 1088</td>
        <td>MYR 1888</td>
        <td>MYR 5888</td>
      </tr>
      <tr>
        <th scope="row" data-i18n="vip_page.Turnover"></th>
        <td>x5</td>
        <td class="active">x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
        <td>x5</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="View_Cash_Rebate_rules">
  <a href="#" data-bs-toggle="modal" data-bs-target="#cashRebateRulesModal" data-i18n="vip_page.View_Cash_Rebate_rules"></a>
</div>