<div class="vip-cash-rebate-content">
  <div class="vip-cash-rebate-content__title" data-i18n="vip_page.VIP_Withdrawal_Limit1"></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" data-i18n="vip_detail_page.VIP_Level"></th>
        <th scope="col" data-i18n="vip_detail_page.vip0"></th>
        <th scope="col" data-i18n="vip_detail_page.vip1" class="@@if(context.vip_num == 1){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip2" class="@@if(context.vip_num == 2){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip3" class="@@if(context.vip_num == 3){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip4" class="@@if(context.vip_num == 4){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip5" class="@@if(context.vip_num == 5){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip6" class="@@if(context.vip_num == 6){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip7" class="@@if(context.vip_num == 7){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip8" class="@@if(context.vip_num == 8){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip9" class="@@if(context.vip_num == 9){active}"></th>
        <th scope="col" data-i18n="vip_detail_page.vip10" class="@@if(context.vip_num == 10){active}"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" data-i18n="vip_page.Daily_Withdrawal_Limit"></th>
        <td>1</td>
        <td class="@@if(context.vip_num == 1){active}">1</td>
        <td class="@@if(context.vip_num == 2){active}">1</td>
        <td class="@@if(context.vip_num == 3){active}">2</td>
        <td class="@@if(context.vip_num == 4){active}">2</td>
        <td class="@@if(context.vip_num == 5){active}">3</td>
        <td class="@@if(context.vip_num == 6){active}">3</td>
        <td class="@@if(context.vip_num == 7){active}">4</td>
        <td class="@@if(context.vip_num == 8){active}">5</td>
        <td class="@@if(context.vip_num == 9){active}">Unlimited</td>
        <td class="@@if(context.vip_num == 10){active}">Unlimited</td>
      </tr>
      <tr>
        <th scope="row" data-i18n="vip_page.Daily_Withdrawal_Amount"></th>
        <td>MYR 50,000</td>
        <td class="@@if(context.vip_num == 1){active}">MYR 50,000</td>
        <td class="@@if(context.vip_num == 2){active}">MYR 50,000</td>
        <td class="@@if(context.vip_num == 3){active}">MYR 50,000</td>
        <td class="@@if(context.vip_num == 4){active}">MYR 75,000</td>
        <td class="@@if(context.vip_num == 5){active}">MYR 75,000</td>
        <td class="@@if(context.vip_num == 6){active}">MYR 100,000</td>
        <td class="@@if(context.vip_num == 7){active}">MYR 150,000</td>
        <td class="@@if(context.vip_num == 8){active}">MYR 200,000</td>
        <td class="@@if(context.vip_num == 9){active}">Unlimited</td>
        <td class="@@if(context.vip_num == 10){active}">Unlimited</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="View_Cash_Rebate_rules">
  <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#cashRebateRulesModal" data-i18n="vip_page.View_Cash_Rebate_rules"></a>
</div>