<div class="row accumulated">
  <div class="col-2 accumulated__img">
    <img src="assets/images/vip-privilege-details/@@vip_bg_name" />
  </div>
  <div class="col accumulated__item">
    <div class="accumulated__item__content">
      <div class="accumulated__item__content__img">
        <img src="assets/images/vip-privilege-details/i1.svg" />
      </div>
      <div class="accumulated__item__content__text">
        <div data-i18n="vip_detail_page.Accumulated_Deposit_"></div>
        <div class="accumulated__item__content__text__currency">@@Accumulated_Deposit</div>
      </div>
    </div>
  </div>
  <div class="col accumulated__item">
    <div class="accumulated__item__content">
      <div class="accumulated__item__content__img">
        <img src="assets/images/vip-privilege-details/i2.svg" />
      </div>
      <div class="accumulated__item__content__text">
        <div data-i18n="vip_detail_page.Turnover_Requirement"></div>
        <div class="accumulated__item__content__text__currency">@@Turnover_Requirement</div>
      </div>
    </div>
  </div>
  <div class="col accumulated__item">
    <div class="accumulated__item__content">
      <div class="accumulated__item__content__img">
        <img src="assets/images/vip-privilege-details/i3.svg" />
      </div>
      <div class="accumulated__item__content__text">
        <div data-i18n="vip_detail_page.Maintenance_Turnover_Requirement"></div>
        <div class="accumulated__item__content__text__currency">@@Maintenance_Turnover_Requirement</div>
      </div>
    </div>
  </div>
</div>


<div class="upgrade-bonus">
  <div class="upgrade-bonus__title" data-i18n="vip_detail_page.Upgrade_Bonus"></div>

  <div class="row upgrade-bonus__container">
    <div class="col-4 upgrade-bonus__container__item">
      <div class="upgrade-bonus__container__item__content">
        <div class="upgrade-bonus__container__item__content__img">
          <img src="assets/images/vip-privilege-details/1.svg" />
        </div>
        <div class="upgrade-bonus__container__item__content__text">
          <div data-i18n="vip_detail_page._Tier_Upgrade_Bonus"></div>
          <div class="upgrade-bonus__container__item__content__text__currency">MYR @@Tier_Upgrade_Bonus</div>
          <div class="upgrade-bonus__container__item__content__text__description" data-i18n="vip_detail_page.Upgrade_Redeem_manually"></div>
        </div>
      </div>
    </div>
    <div class="col-4 upgrade-bonus__container__item">
      <div class="upgrade-bonus__container__item__content">
        <div class="upgrade-bonus__container__item__content__img">
          <img src="assets/images/vip-privilege-details/2.svg" />
        </div>
        <div class="upgrade-bonus__container__item__content__text">
          <div data-i18n="vip_detail_page._Weekly_Angpow"></div>
          <div class="upgrade-bonus__container__item__content__text__currency">MYR @@Weekly_Angpow</div>
          <div class="upgrade-bonus__container__item__content__text__description" data-i18n="vip_detail_page.Issue_on_Monday"></div>
        </div>
      </div>
    </div>
    <div class="col-4 upgrade-bonus__container__item">
      <div class="upgrade-bonus__container__item__content">
        <div class="upgrade-bonus__container__item__content__img">
          <img src="assets/images/vip-privilege-details/3.svg" />
        </div>
        <div class="upgrade-bonus__container__item__content__text">
          <div data-i18n="vip_detail_page._Birthday_Bonus"></div>
          <div class="upgrade-bonus__container__item__content__text__currency">MYR @@Birthday_Bonus</div>
          <div class="upgrade-bonus__container__item__content__text__description" data-i18n="vip_detail_page.Redeem_on_20th_Oct_2022"></div>
        </div>
      </div>
    </div>
  </div>
</div>

@@include('./vip-crash.html', {vip_num: '@@vip_num'})
